*{
    box-sizing: border-box;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}


main {
    flex: 1 0 auto;
}
.orange-gradient{
    background: #fe8c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
}
.orange-gradient-text{
    background: #fe8c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.material-icons{
    font-size: 1.5em;
}
.error{
    color: red;
    margin: 20px 0px;
    text-align: center;
    font-weight: bold;
}


.input-field{
    margin-top: 0px;
}
/* label color */
.input-field label {
    color: #FD6D22;
}

/* label focus color */
.input-field input[type=text]:focus + label, input[type=password]:focus + label, input[type=email]:focus + label {
    color: #FD6D22 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    border-bottom: 1px solid #FD6D22 !important;
    box-shadow: 0 1px 0 0 #FD6D22 !important;
}

/* icon prefix focus color */
.login-card .input-field .prefix, .login-card h3{
    color: #FFF;
}
.input-field .prefix.active {
    background: #fe8c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dropdown-content li > span  {
    color: #FD6D22 !important
}
.dropdown-content li > a{
    color : #000 !important
}
.input-field.col .dropdown-content [type="checkbox"] + label {
    top: -10px;
}

.input-field.col .dropdown-content [type="checkbox"]:checked + label:before {
    border-right: 2px solid #FD6D22;
    border-bottom: 2px solid #FD6D22;
}
.brand-logo {
    font-family: 'Great Vibes', cursive;
}
.choice .row,
.compSignup .row,
.musicSignup .row,
.time-description .row,
.details-row .row{
    margin-bottom: 0px;
}
/*mfp popup*/
/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}
/*navbar*/

nav{
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.24);
}

nav{
    position: relative;
    z-index:8;

}
.nav-wrapper {
    margin: auto 5vw;
}

#dropdown1 li {
    width: 140px;

}

#dropdown1 {
    margin-top: 64px;
    margin-left: -22px;
}
.background img{
    max-width: 100%;
}


.navAvatar{
    border: 1px solid #FD6D22;
    width: 50px;
    height: 50px;
    margin-left: 8px;
}
#signupModal {
    width: 350px;

}


footer{
    position: relative;
    z-index: 5;
}
/*search page*/

.search .card-panel{
    background-color: rgba(0, 0, 0, 0.40);

}
.search .select-wrapper input, .search .select-wrapper .caret{
    color: #D1D1D1;
}

/*homepage*/
.logo-action{
    margin-left:20%;
}
.logBtn{
    border-radius: 30px;
    padding: 5px 20px;
    display: inline;
    font-size: 1.5em;
    border: 1px solid #FD6D22;
    border: 1px solid rgba(211, 211, 211, 0.2);
    color: rgba(253, 109, 34, 0.4);

    background-color: rgba(0, 0, 0, 0.40);
}
.logBtn:hover{
    background: #fe8c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;

}
#logo {
    font-size: 12em;
}
.top {

    background-image: url("/assets/images/microphone_wallpaper copy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 700px;
    display: flex;
    justify-content: flex-start;
    align-items: center;


}
.top .card-panel{
    background-color: rgba(0, 0, 0, 0.40);
    position:relative;
    z-index:2;
    border-radius: 10px;
}
.login-logo {
    font-family: 'Great Vibes', cursive;
}

.downArrow {
    position: absolute;
    font-size: 2em;
    left: 49%;
    bottom: 10px;
}

#musicChoice {
    background-image: url("/assets/images/pexels-guitar.jpeg");

}
#compChoice {
    background-image: url("/assets/images/smallVenue.jpg");
}

#musicChoice, #compChoice{
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    min-height: 500px;

    display: flex;
}

#musicChoice section, #compChoice section{
    margin: auto;
}
.musicText, .compText{
    background-color: rgba(0, 0, 0, 0.40);
    border-radius: 5px;
    padding: 3%;
    font-size: 1.8em;

}
#musicChoice .logBtn, #compChoice .logBtn{
    color: #FFF;
    border-radius: 25px;
    border: 1px solid #FD6D22;
    font-size: 1em;


}
@media (max-width: 992px)   {

    #musicChoice, #compChoice{
        height: 50vh;
        font-size: 1.2em;
        padding: 10px;
    }
    #musicChoice h1,
    #musicChoice p,
    #compChoice h1,
    #compChoice p{
        margin: 3px;
    }
    .top{
        background-position:80% 50%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .top .card-panel{
        border-radius: 5px;
        width: 80vw;
    }
    .login-logo{
        font-size: 8em;
        color: #FFF;
    }
    .tab-top .btn{
        margin-top: 10px;
        width: 70%;
        border-radius: 20px;
    }
}

@media (max-width: 425px)   {
    .top{
        background-position:75% 50%;

    }
    .login-logo{
        font-size: 4.6em;
    }
    .musicText, .compText{
        font-size: 1.1em;
    }
    .tab-top .btn{
        width: 100%;
    }
}

/*login page*/
.login .background-image{
    background: url("/assets/images/pexelsJazz.jpeg");
}
.login .card-panel{
    width: 50%
}


@media (max-width: 768px)   {

    .login .card-panel, .login-card{
        width: 80%
    }

}
@media (max-width: 425px)   {

    .login .card-panel, .login-card{
        width: 100%
    }
    .login .background-image{
        background-position:50% 50%;

    }
}
/*Company Signup and Music Signup*/
.logo-side{

    display: flex;
    flex-flow: column wrap;
    justify-content:center;
    align-items:center;

}

.compSignup, .musicSignup, .success, .message, .login{
    padding: 15px;
    display: flex;
    justify-content:center;
}
.compSignup .background-image{
    background:url('/assets/images/great-hall-wedding-reception.jpg');

}
.musicSignup .background-image{
    background: url("/assets/images/funkApostles.jpg");
}
.gigCreate .background-image{
    background: url("/assets/images/concertPexels.jpeg");
}
.confirmHire .background-image{
    background: url("/assets/images/pexelsMic2.jpeg");
}
.success .background-image{
    background: url("/assets/images/pexelFireworks.jpg");
}
.message .background-image{
    background: url("/assets/images/pexelDrums.jpeg");
}
.compSignup .background-image,
.musicSignup .background-image,
.confirmHire .background-image,
.success .background-image,
.message .background-image,
.login .background-image{
    position:absolute;
    left: -5%;
    right:0;
    top:-5%;
    bottom:0;
    background-size:cover;
    z-index:1;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.compSignup .card-panel,
.confirmHire .card-panel,
.musicSignup .card-panel,
.message .card-panel,
.success .card-panel,
.login .card-panel{
    background-color: rgba(0, 0, 0, 0.40);
    margin: auto;
    position:relative;
    z-index:2;
    border-radius: 10px;
}

.card-panel .login-logo a{
    font-size: 4rem;
    color: #FFF;
}
.card-panel .login-logo a:hover{
    color: #FD6D22;
}
.compForm{
    border-radius: 10px;

}
.compForm form{
    margin: 10px;

}
/*Signup Results Page*/
.success table{
    font-size: 1.5em;
}
.success table td {
   padding: 2px 0px;
}
/*Musician Details Page  */
.music-details .hide-on-med-and-down td{
    padding: 15px 41px;
}
/*Profile Pages*/
.row-content{
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;

}

.profileBanner {
    height: 550px;
    position: relative;
}


.tab-profile{
    display: flex;
    flex-flow: column nowrap;
    align-items:center;
    margin-top:100px;
}
.tab-profile h4, .tab-profile h5{
    margin-top: 0;
    margin-bottom: 0;
}
.end{
    justify-content:flex-end;
}
.profile-info{
    margin-right: 10px;
}
small{
    font-size: 60%;
}
.profCol{
    position: relative;
    bottom: 400px;
    width: 300px;

}
.profInfo p{
    font-size: 1.3em;
    margin: 0;
    margin-bottom: 10px;
}
.profInfo{
    padding: 25px;
}
.coverBanner {
    position: absolute;
    color: rgba(253, 109, 34, 0.4);
    font-size: 1em;
    margin-top: 5px;
    margin-left: 20px;
    background-color: rgba(56, 56, 56, 0.5);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid rgba(211, 211, 211, 0.2);
}

.coverBanner:hover {
    color: #FD6D22;
    background-color: rgb(56, 56, 56);
    border: 1px solid rgb(211, 211, 211);

}

.picParentDetail {
    position: absolute;
    width: 250px;
    border: 2px solid lightgray;
    border-radius: 50%;
    top: 170px;
    left: 50px;
    height: 250px;
}


.profImage {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.profImage:hover .middle,
.bandInfo:hover .second {
    opacity: 1;
}

#hover-content {
    background-color: rgba(48, 48, 48, 0.91);
    border: 1px solid lightgray;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    width: 101%;
    text-align: center;
    margin-left: 0px;
}
.tab-profile .middle{
    top: 50%;
}
.profile-content{
    margin-right: 10px;
    position: relative;
    bottom: 48px;
}
.tabs{
    margin: 0;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.24);
}
.tabs .indicator {
    text-decoration: none;
    background: #fe8c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.tabs .tab a{
    color: #FFF;
}

.tabs .tab a.active,
.tabs .tab a:hover,
.tabs .tab a.active i,
.tabs .tab a:hover i{
    background: #fe8c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tabs-fixed-width i {
    font-size: 2.6rem;
    margin-top: 5px;
}
#tab-bio{
    font-size: 1.3em;
}
#tab-bio i,
.profCol i {
    margin-right: 10px;
}

.musicInfo {
    position: relative;
    top: 80px;

}

.mediaTitle {
    font-size: 1.3em;
}

.gigCard {
    margin-bottom: 10px;
    border-radius: 20px;
}
.gigCard:hover{
    z-index: 70;
    border: 1px solid #FFF;
    border-radius: 20px;
}
.gigCard .gigImage{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.gigCard .gigInfo{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.goBtn{
    position:relative;
    top: 125px;
    right: 10px;
}
i.right {
    margin-left: 0px;
}
td .btn-flat i, .popup-youtube i{
    font-size: 2.3rem;
    margin-right: 10px;
}
table .right a, table .right button{
    top: 10px;
}
.appliedNum {
   position: relative;
    bottom: 60px;
    right: 10px;
    font-size: 3em;
    float: right;


}

.media.waves-effect {
    padding: 0;
}

img.responsive-img {
    height: 100%;
}

.musicianCards p{
    font-size: 1.09em;
}
.cardImage {
    border: 1px solid #FFF;
    position: relative;
    height: 100px;
    width: 100px;

}
#areaMusicians .bandInfo{
    height: 20vh;
}

.findBand .row .col{
   padding: 0px;
    margin: 0px;
}
.bandInfo{
    font-size: 1.5em;
    display: flex;
    flex-direction:column;
    justify-content:flex-end;
    margin-bottom: 20px;
    border-radius: 10px;
}
.second{
    background-color: rgba(0,0,0,0.41);
    color: #FFF;
    width: 100%;
    opacity: 0;

}

.bandInfo:hover{
    border: 2px solid #FFF;
}

.cardImage:hover{
    border: 1px solid #FD6D22;
}
.musicianInfo{
    position: relative;
}

.companyProfileGig .btn{
    padding: 0px 1rem;
}
.companyProfileGig{
    min-width: 80%;
}

/*.gigApplied{*/
    /*border: 1px solid #FD6D22;*/
    /*border-radius: 5px;*/
    /*padding: 10px;*/
    /*margin-top: 10px;*/
/*}*/
.dateBox{
    position: relative;
    left: 10px;
    top: 10px;
    width: 80px;
    height: 54px;
    padding-top: 10px;
    border-radius: 15px;
    background: #FFF;
    line-height: 0.9;
}

.dateBox .date{
   font-size: 1.5em;
    font-weight: bold;
}
.dateBox .month{
    font-size: 1em;
}


.gigCard p, .dateBox h4, .gigTitle{
    margin: 0px;
}


.gigInfo{
    padding: 15px;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 120px;
    display: flex;
    flex-flow: column;
    justify-content: center;

    color: #FFF;
}


.hireForm .btn-large{
    padding: 0 1rem;
}
.gigCard .divider{
    margin: 5px 0px;
}
.gigCard .btn{
    padding: 0px 1rem;
}


.checkmark{
    color: #2DB051;
}

.locationBox{
    background-color: #FFF;
    width: 45%;
    min-width: 200px;
    position: relative;
    top: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 2%;
}


.gigAction {
    padding: 15px;
}


.gig h1, .musiciansApplied .row, .timePlace .row{
    margin: 0;
}

.appliedMusic{
    margin-bottom: 8px;
}
.appliedMusic .cardImage{
height: 60px;
    width: 60px;
    right: 30px;
}
.appliedMusic .flow-text{
    font-size: 1.2rem;
}

.timePlace{
    font-size: 1.5em;
    padding: 5px 0px 5px 5px;
}
.timePlace i{
    margin-right: 10px;
}
.show-on-medium-and-down .tabs{
    display: flex;
    flex-flow: row wrap;
}
.no-media{
    padding: 0px 83px;
}
/*Gig Details Page*/

.gig-nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
.gig-nav .btn{
    width: 100%;
    margin-left: 5px;
}
.gig-nav .btn i{
    font-size: 24px;

}
.gig-info{
    display: flex;
    flex-flow: column nowrap;
}

.gig-map, .gigDescript{
    flex: 1 1 50%;
}


.gig-image, .time-description, .gig-map{
    height: 350px;
}
.gig-image{
    display: flex;
    align-items:flex-end;
}
.details-row{
    flex: 1 1 100%;
    font-size: 1.8em;
    background-color: rgba(0,0,0,0.41);
    padding-left: 10px;
}
.time-description{
    display: flex;
    flex-flow: row nowrap;
}
.gigDescript{
    padding: 2%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.gigDescript i{
    font-size: 2.5em;
    margin-right: 1%

}

.bandApplied{
    width: 100%;
    height: 150px;
}
.hireBtn{
    color: #FFF;
    text-align: center;
}
.hireBtn:hover{
    color: #FFF;
}
#hireDrop{
    min-width: 225px;
}
.hireRow, .locationBox{
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items:center;
}
.time-description .row .col, .gig .row .col{
    padding: 0;
}
@media (max-width: 425px)   {
    .gig-info, .time-description{
        flex-flow: column nowrap;
    }
    .time-description{
        height: 700px;
    }
    .gig-left,
    .gig-map,
    .gigDescript,
    .time-description{
        flex: 1 1 100%;

    }

}

/*Confirm Hire Page*/

.confirmHire{
    display:flex;
    justify-content:center;
    align-self:center;
}
.confirmPic{
    width: 30vh;
}
.confirmAction{
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-around;
}
/*Error Page*/
.error-page{
    background: url("/assets/images/richie_weba-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

