/* label color */
.input-field label {
    color: #FD6D22;
}

/* label focus color */
.input-field input[type=text]:focus + label, input[type=password]:focus + label {
    color: #FD6D22 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus, input[type=password]:focus {
    border-bottom: 1px solid #FD6D22 !important;
    box-shadow: 0 1px 0 0 #FD6D22 !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #FD6D22;
}

.dropdown-content li > span {
    color: #FD6D22 !important
}

.input-field.col .dropdown-content [type="checkbox"] + label {
    top: -10px;
}

.input-field.col .dropdown-content [type="checkbox"]:checked + label:before {
    border-right: 2px solid #FD6D22;
    border-bottom: 2px solid #FD6D22;
}

.nav-wrapper {
    margin: auto 5vw;
}

#dropdown1 li {
    width: 140px;

}

#dropdown1 {
    margin-top: 64px;
    margin-left: -22px;
}

.tabs .indicator {
    text-decoration: none;
    background-color: red !important;
}
nav{
    background-color: rgba(0, 0, 0, 0.12);
    position: absolute;
    z-index:1;

}
.navAvatar{
    border: 1px solid #FD6D22;
    width: 50px;
    margin-left: 8px;
}
#logo {
    font-size: 6.8em;
    line-height: 80vh;
}
#logBtn{
    border: 1px solid #FFF;
    border-radius: 15px;
    padding: 5px 20px;
    display: inline;
}
.top {

    background-image: url("/assets/images/microphone_wallpaper copy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}



.brand-logo {
    font-family: 'Great Vibes', cursive;
    margin-left: 15px;

}

.loginLogo {
    font-family: 'Great Vibes', cursive;

}

.downArrow {
    position: absolute;
    font-size: 2em;
    left: 50%;
    bottom: 10px;
}

#choiceSection {
    background: #2B3989; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#200102, #2B3989); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#200102, #2B3989); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#200102, #2B3989); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#200102, #2B3989); /* Standard syntax */
    margin: 0;
    height: 100vh;
}

.choice {
    padding: 20px 0;
    margin: 0px 5vw;

}

.choice .row {
    margin-bottom: 0;
}

.login {
    background: url("/assets/images/pexelsJazz.jpeg");
    box-shadow: inset 0 0 0 2000px rgba(21, 60, 101, 0.3);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.loginCard {
    margin-top: 70px;
    width: 350px;
}

.loginForm {

    background: rgba(255, 255, 255, 0.5);

}

.top .card {
    border: 1px solid white;
}

.sect2 .material-icons, .sect3 .material-icons {
    font-size: 5em;
    padding: 10px;
    border: 1px solid #FD6D22;
    border-radius: 50%;
}

.musicianBanner {
    background: url("/assets/images/pexelsDJ.jpeg");
    box-shadow: inset 0 0 0 2000px rgba(44, 152, 240, 0.3);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 50vh;
}

.companyBanner {
    background: url("/assets/images/weddingHarp.jpg");
    box-shadow: inset 0 0 0 2000px rgba(44, 152, 240, 0.3);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 50vh;
}

.bannerTitle {
    color: #FFF;
}

.bannerTitle:hover {
    color: #FD6D22;
}

.gigArt {
    height: 200px;
}

.localGigs {
    height: 75px;
}

.musicProfile {
    margin: 0px 35px;
}

.name {
    text-transform: uppercase;
}

.profCol{
    position: relative;
    top: -250px;
    left: 100px;
    width: 300px;

}
.profInfo p{
    margin: 0;
    margin-bottom: 10px;
}
.profInfo{
    padding: 25px;
}
.coverBanner {
    color: rgba(253, 109, 34, 0.75);
    font-size: 1em;
    margin-left: 20px;
    margin-top: 10px;
    background-color: rgba(56, 56, 56, 0.88);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid lightgray;
}

.coverBanner:hover {
    color: #FD6D22;
}

.picParentDetail {
    position: absolute;
    width: 250px;
    border: 2px solid lightgray;
    border-radius: 50%;
    top: 170px;
    left: 50px;
    height: 250px;
}

#picParent {
    position: absolute;
    width: 250px;
    border: 2px solid lightgray;
    border-radius: 50%;
    top: 200px;
    left: 50px;
    height: 250px;
}

.profImage {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.profImage:hover{
    opacity: 0.8;
}

.profImage:hover .middle {
    opacity: 1;
}

#hover-content {
    background-color: rgba(48, 48, 48, 0.91);
    border: 1px solid lightgray;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    width: 160%;
    text-align: center;
    margin-left: -35px;
}

.musicInfo {
    position: relative;
    top: 80px;

}

.musicRow {
    font-size: 1.2em;
}

.profileBanner {
    height: 400px;

}

.profileDetails {
    margin: auto 5vw;
}

.bannerBio {
    position: relative;
    top: 190px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 30vw;
}
.bannerBio h4{
    font-size: 3em;
}
.bannerBio p{
    font-size: 2em;
}
.bannerBio h4, p{
    margin: 0;
}
.mediaTitle {
    font-size: 1.3em;
}

.gigCard {
    width: 90%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.gigDetails {
    margin-top: 5px;
    margin-bottom: 0;
}


i.right {
    margin-left: 0px;
}

.cardGigDetails {
    margin: auto;
}

span.badge {
    width: 25px;
    margin-left: 5px;
    text-align: center;
    font-size: 1.3em;
    height: 25px;
    color: #FD6D22;
    float: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #FFF;
    border-radius: 50%;
    line-height: 25px;
    min-width: 0px;
}

.media.waves-effect {
    padding: 0;
}

img.responsive-img {
    height: 100%;
}
.musicianCards{
    margin: 5px 0px 5px 30px;
    height: 120px;
}
.musicianCards p{
    margin: 0px;
    font-size: 1.2em;
}
.cardImage {
    position: relative;
    min-height: 100%;
    width: 100px;
    right: 45px;
    top: 3px;

}
.musicianInfo{
    position: relative;
    right: 25px;
}
#signupModal {
    width: 350px;

}

.loginBtn {
    margin-bottom: 20px;
}
.companyProfileGig .btn{
    padding: 0px 1rem;
}
.companyProfileGig{
    min-width: 80%;
}
.gigApplied{
    border: 1px solid #FD6D22;
    border-radius: 5px;
    padding: 10px;
}
.dateBox{
    position: relative;
    left: 20px;
    top: 20px;
    width: 80px;
    height: 80px;
    padding-top: 10px;
    border-radius: 5px;
}
.gigCard{
    margin: 6px;
    width: 100%;
}
.gigCard p, .dateBox h4{
    margin: 0px;
}
.gig .gigImage{
    object-fit: cover;
    width: 100%;
    margin-bottom: -5px;
    height: 250px;
}
.gigInfo{
    padding: 15px;
}
.gigCard .divider{
    margin: 5px 0px;
}
.gigCard .btn{
    padding: 0px 1rem;
}
.gigDetailsCard .row {
    margin-bottom: 0px;
}
#gigImage{
    height: 300px;
}
#gigDetailsImage{
    padding-right: 0px;
}
#gigDetailsMap{
    padding-left: 0px;

}
.locationBox{
    background-color: #FFF;
    width: 30%;
    min-width: 200px;
    position: relative;
    top: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 2%;
}
.locationBox .row{
    margin-bottom: 0px;
}
.gigAction {
    padding: 15px;
}
.gigAction .row{
    margin: 0px;
}
.appliedNum{
    color: #FD6D22;
}
.gigNav{
position: relative;
}
.gig{
    position: relative;
    top: -350px;
}
.gig h1, .musiciansApplied .row, .timePlace .row{
    margin: 0;
}
.gigTitle{
    font-size: 2.5em;
    padding: 0 10px;
}
.gigType{
    padding: 15px;
    font-size: .5em;
}
.gigDescript{
    font-size: 2em;
}
.appliedTitle{
    font-size: 1.4em;
    text-align: right;
    border-right: 1px solid lightgray;
    padding-right: 5px;
}
.appliedAvatar{
    width: 75px;
}
.appliedAvatar:hover{
    border: 2px solid #FD6D22;
}
.gig section{
    border: 1px solid lightgray;
}
.timePlace{
    font-size: 1.5em;
    padding: 5px 0px 5px 5px;
}
.timePlace i{
    margin-right: 10px;
}