<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="fragments/includes :: indexHead"></head>
<body th:inline="text" class="search">
<div th:include="fragments/navbar :: navHome"></div>

    <main >
        <div class="container">
            <div sec:authorize="hasRole('ROLE_MUSICIAN')">
                <h1 class="center-align white-text">Search for Gigs</h1>

                <div class="card-panel">
                    <div class="section">
                        <form th:action="@{/searchGigLocation}" method="post" class="white-text">

                            <div class="section">
                                <div class="input-field ">
                                    <i class=" material-icons prefix">location_on</i>
                                    <input type="text" placeholder="Search by Location" name="location" id="giglocation"/>
                                    <label for="giglocation">Location</label>
                                </div>
                                <div class="right">
                                    <button class="btn" type="submit">Search</button>

                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="section">
                        <form th:action="@{/searchGigType}" method="post" class="white-text">
                            <div class="section">
                                <div class="input-field ">
                                    <i class="  material-icons prefix">event_note</i>

                                    <select name="type" id="type">
                                        <option value="" disabled="disabled" selected="selected">Search by Gig Type</option>

                                        <option th:each="gigType : ${gigTypes}" th:value="${gigType.type}">[[${gigType.type}]]</option>
                                    </select>
                                    <label for="type">Type of Gigs</label>
                                </div>
                                <div class="right">
                                    <button class="btn  " type="submit">Search</button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>


        <div sec:authorize="hasRole('ROLE_COMPANY')" class="container">
            <h1 class="center-align white-text">Search for Musicians</h1>
            <div class="card-panel">
                <div class="section">
                    <form th:action="@{/searchMusician}" method="post" class="white-text">
                        <div class="section ">
                            <div class="input-field">
                                <i class="  material-icons prefix">location_on</i>

                                <input type="text"  name="search" id="search"/>
                                <label for="search">Search</label>
                            </div>
                            <div class="right">
                                <button class="btn  " type="submit">Search</button>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="section">
                    <form th:action="@{/searchInstrument}" method="post" class="white-text">
                        <div class="section ">
                            <div class="input-field">
                                <i class="  material-icons prefix">star</i>

                                <select multiple="multiple" name="instrument">
                                    <option value="" disabled="disabled" selected="selected">Search by Musical Instruments</option>
                                    <option th:inline="text" th:each="instrument : ${instruments}" th:value="${instrument.name}">[[${instrument.name}]]</option>
                                </select>
                            </div>
                            <div class="right">
                                <button class="btn  " type="submit">Search</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>




        </div>
        <section class="searchResult container ">
            <div sec:authorize="hasRole('ROLE_COMPANY')">

                    <div class="row">
                        <div  th:each="musician : ${musician}">
                            <div class="col s12 m4 l3  center-align ">
                                <a th:href="'/find-bands/' + @{${musician.id}}" >
                                    <div  th:style="'background:url('+ @{'https://s3.amazonaws.com/s3-gigfinder/' + ${musician.profPicImage}}+'); background-size: cover; background-repeat: no-repeat; background-position: center; height: 41vh; width: 100%'" class="bandInfo hoverable">
                                        <div class="second">
                                            <div class="hiddenText">
                                                <h5 ><b>[[${musician.firstName}]] [[${musician.lastName}]]</b></h5>
                                                <p>[[${musician.musicianInstruments}]]</p>
                                            </div>
                                        </div>


                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
            </div>


            <div sec:authorize="hasRole('ROLE_MUSICIAN')">
                <div class="row">
                    <div th:each="gig : ${gig}" class="col s12 m6 l4">

                        <div class="gigCard z-depth-2">
                            <div class="gigImage" th:style="'background:url('+ @{'https://s3.amazonaws.com/s3-gigfinder/' + ${gig.gigArt}}+'); background-size: cover; background-repeat: no-repeat; background-position: center; height: 200px;'">
                                <div class="dateBox    center-align">
                                    <p class="date">[[${#dates.format(gig.gigStart,'d')}]]</p>
                                    <p class="month">[[${#dates.format(gig.gigStart,'MMMM')}]]</p>
                                </div>
                                <a class="goBtn right waves-effect waves-light btn-floating " th:href="'/gig/' + @{${gig.id}}"><i class="material-icons">arrow_forward</i></a>

                            </div>
                            <div class="gigInfo white center-align">
                                <p><b>[[${gig.gigTitle}]]</b></p>
                                <p >[[${gig.gigLocation}]]</p>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>

    </main>



    <div th:include="fragments/footer :: footer"></div>

<span th:include="fragments/includes :: js"></span>
</body>
</html>