<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="fragments/includes :: indexHead"></head>
<body class="gradient-background" th:inline="text">
<div class="hide-on-med-and-down" th:include="fragments/navbar :: navHome"></div>

    <main class="musicSignup">

        <div class="background-image hide-on-med-and-down"></div>

        <div class="card-panel container">
            <div class="row">
                <div class="col s12 m6  center-align ">
                    <div class="logo-side">
                        <h1 class="login-logo"> <a href="/" >gigFinder</a></h1>
                        <h5 class="white-text"> Musician Signup</h5>
                    </div>

                </div>
                <div class="col s12 m6 white compForm">
                        <form th:action="@{/signup/musician/}" method="post" >
                            <div th:object="${user}">
                                <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>
                                <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
                                <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
                                <div class="error" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Phone Number Error</div>

                                <div class="row">
                                    <div class="input-field col s12 m6">
                                        <input id="username" type="text" th:field="*{username}" class="validate"/>
                                        <label for="username">Username</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <label for="password">Password</label>
                                        <input id="password" type="password" th:field="*{password}" class="validate"/>

                                    </div>


                                </div>
                                <div class="row">
                                    <div class="input-field col s12 m6">
                                        <label for="email">Email</label>
                                        <input id="email" type="email" th:field="*{email}" class="validate"/>

                                    </div>
                                    <div class="input-field col s12 m6">
                                        <label for="pNumber">Phone Number</label>
                                        <input id="pNumber" type="text" th:field="*{phoneNumber}" class="validate"/>

                                    </div>
                                </div>
                            </div>
                            <div th:object="${musicianProfile}">
                                <div class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</div>
                                <div class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</div>
                                <div class="error" th:if="${#fields.hasErrors('musicianCity')}" th:errors="*{musicianCity}">City Error</div>
                                <div class="error" th:if="${#fields.hasErrors('musicianState')}" th:errors="*{musicianState}">State Error</div>
                                <div class="error" th:if="${#fields.hasErrors('musicianInstruments')}" th:errors="*{musicianInstruments}">Musician Instruments Error</div>
                                <div class="row">
                                    <div class="input-field col s12 m6">
                                        <label for="firstName">First Name</label>
                                        <input id="firstName" type="text" th:field="*{firstName}" class="validate"/>

                                    </div>
                                    <div class="input-field col s12 m6">
                                        <label for="lastName">Last Name</label>
                                        <input id="lastName" type="text" th:field="*{lastName}" class="validate"/>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s6 m6">
                                        <input id="city" type="text" th:field="*{musicianCity}" class="validate"/>
                                        <label for="city">City</label>

                                    </div>
                                    <div class="input-field col s6 m6">
                                        <select th:field="*{musicianState}" id="state">
                                            <option value="" disabled="disabled" selected="selected">State</option>
                                            <option th:each="states : ${states}" th:value="${states.abbreviation}">[[${states.name}]] - [[${states.abbreviation}]]</option>
                                        </select>

                                    </div>
                                </div>

                                <div class="input-field col s12 m12">
                                    <select multiple="multiple" th:field="*{musicianInstruments}">
                                        <option value="" disabled="disabled" selected="selected">Choose Musical Instruments</option>
                                        <option th:each="instrument : ${instruments}" th:value="${instrument.name}">[[${instrument.name}]]</option>
                                    </select>


                                </div>

                                <div class="row">
                                    <div class="input-field col s12 m12">
                                        <label for="bio">Bio</label>
                                        <input id="bio" type="text" th:field="*{bio}" class="validate"/>
                                    </div>
                                </div>
                            </div>

                            <button class="waves-effect waves-light btn" type="submit" >Create Profile</button>

                        </form>

                </div>

            </div>

        </div>
    </main>
    <div th:include="fragments/footer :: footer"></div>
    <div th:include="fragments/modals :: signupModal"></div>


<span th:include="fragments/includes :: js"></span>

</body>
</html>