<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="indexHead">
    <meta charset="UTF-8"/>
    <title>gigFinder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Pacifico" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/webjars/Magnific-Popup/1.0.0/magnific-popup.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/materialize/0.100.2/dist/css/materialize.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}"/>
</head>
<body>

<span th:fragment="js">

<script th:src="@{/webjars/jquery/3.2.1/dist/jquery.js}"></script>
<script th:src="@{/webjars/materialize/0.100.2/dist/js/materialize.min.js}"></script>
    <script th:src="@{/webjars/Magnific-Popup/1.0.0/jquery.magnific-popup.min.js}"></script>

<script>
      $('.datepicker').pickadate({
          selectMonths: true,
          selectYears: 199,
          today: 'Today',
          clear: 'Clear',
          close: 'Ok',
          closeOnSelect: false
      });

      $('.timepicker').pickatime({
          default: 'now',
          fromnow: 0,
          twelvehour: true,
          donetext: 'OK',
          cleartext: 'Clear',
          canceltext: 'Cancel',
          autoclose: false,
          ampmclickable: true,
          aftershow: function(){}
      });
      $(document).ready(function(){
          $('select').material_select();
          $('.scrollspy').scrollSpy();
          $('.modal').modal();
          $('.tooltipped').tooltip({delay: 50});
          $('ul.tabs').tabs({});
          $('.collapsible').collapsible();
          $(".button-collapse").sideNav();
          $('.popup-youtube, .popup-vimeo, .popup-gmaps').magnificPopup({
              disableOn: 700,
              type: 'iframe',
              mainClass: 'mfp-fade',
              removalDelay: 160,
              preloader: false,

              fixedContentPos: false
          });
      });

</script>
    <script>
function goBack() {
    window.history.back();
}
</script>
<script th:src="@{/assets/js/main.js}"></script>
</span>
</body>
</html>