<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="fragments/includes :: indexHead"></head>
<body>

<div th:fragment="signupModal">
    <div id="signupModal" class="modal">
        <div class="modal-content">
                <div class="section">
                    <h5 class="center-align">Login</h5>

                </div>

                <div style="color: red;" th:text="${error}"></div>

                <form th:action="@{/login}" th:object="${user}" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}" />
                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="username" type="text" th:field="*{username}" autofocus="autofocus"/>
                        <label for="username">Username</label>

                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">lock</i>

                        <input id="password" type="password" th:field="*{password}" />
                        <label for="password">Password</label>
                    </div>
                    <div class="modal-footer">
                        <button class="waves-effect waves-light btn right loginBtn" type="submit" >Login</button>

                    </div>
                </form>
            </div>
        </div>

    </div>
<div th:fragment="createMedia">
    <div id="addMusicContent"  class="modal">
        <div class="modal-content">
            <form th:action="@{/musician/add-media}" method="post" th:object="${mediaContent}">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" id="title" th:field="*{title}" placeholder="Title of music"/>
                        <label for="title">Title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="url" type="text" th:field="*{media_url}" placeholder="Youtube URL of your music"/>
                        <label for="url">Add Music</label>
                    </div>
                </div>
                <button class="btn orange accent-4" type="submit">Add Media</button>
            </form>
        </div>
    </div>
</div>
<div th:fragment="mediaUpdate">
    <div th:id="'mediaUpdate' + ${media.id}"  class="modal">
        <div class="modal-content">
            <form th:action="'/musician/media/' + @{${media.id}} + '/update/'" method="post" >

                <div th:object="${mediaContent}">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" id="title" th:field="*{title}" th:value="${media.title}" placeholder="Title of music"/>
                            <label for="title">Title</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="url" type="text" th:field="*{media_url}" th:value="${media.media_url}" placeholder="Youtube URL of your music"/>
                            <label for="url">Add Music</label>
                        </div>
                    </div>
                </div>

                <button class="btn orange accent-4" type="submit">Update</button>
            </form>
        </div>
    </div>
</div>
<div th:fragment="mediaDelete">
    <div th:id="'mediaDelete' + ${media.id} " class="modal center-align">
        <div class="modal-content ">

                    <p>Are you sure?</p>


        </div>
    </div>
</div>
<div th:fragment="gigUpdate">
    <div id="gigUpdate" class="modal">
        <div class="modal-content">
            <div class="section center-align">

                <h4>Update Gig</h4>
            </div>
            <form th:action="'/company/gig/' +@{${gig.id}} + '/update'" method="post" th:object="${gig}" enctype="multipart/form-data">
                <div class="row">
                    <div class="input-field col s12">
                        <label for="title">Title</label>
                        <input id="title" type="text" th:field="*{gigTitle}"/>

                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="description">Description</label>
                        <input id="description" type="text" th:field="*{gigDescription}"/>

                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="location">Street</label>
                        <input id="location" type="text" name="locationStreet" class="autocomplete"/>
                    </div>

                    <div class="input-field col s6">
                        <input id="city" type="text" name="locationCity"/>
                        <label for="city">City</label>
                    </div>
                    <div class="input-field col s3">
                        <select name="locationState" id="state">
                            <option value="" disabled="disabled" selected="selected">State</option>
                            <option th:each="states : ${states}" th:value="${states.abbreviation}">[[${states.name}]], [[${states.abbreviation}]]</option>
                        </select>
                    </div>

                    <div class="input-field col s3">
                        <input id="zip" type="text" name="locationZip" maxlength="5" minlength="5"/>
                        <label for="zip">Zip Code</label>
                    </div>

                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="start">Start</label>
                        <input id="start" type="date" class="datepicker" th:field="*{gigStart}"/>
                    </div>
                    <div class="input-field col s6">
                        <input id="timeStart" type="text" class="timepicker" th:field="*{timeStart}"/>
                        <label for="timeStart">Start Time</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="end">End</label>
                        <input id="end" type="date" class="datepicker" th:field="*{gigEnd}"/>
                    </div>
                    <div class="input-field col s6">
                        <input id="timeEnd" type="text" class="timepicker" th:field="*{timeEnd}"/>
                        <label for="timeEnd">End Time</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="type">Gig Type</label>
                        <input id="type" type="text"  th:field="*{gigType}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>File</span>
                            <input type="file" th:field="*{gigArt}"/>
                        </div>
                        <div class="file-path-wrapper">
                            <input id="gigArt" class="file-path validate" type="text" th:value="${gig.gigArt}"/>
                            <label for="gigArt">Upload Gig Image</label>
                        </div>
                    </div>
                </div>

                <button class="waves-effect waves-light btn" type="submit" >Update Gig</button>

            </form>
        </div>
    </div>
</div>
<div th:fragment="gigDelete">
    <div id="gigDelete" class="modal center-align">
        <div class="modal-content">
                    <h3>Are you sure?</h3>
            <div class="row">
                <div class="col s6">
                    <form th:action="'/company/gig/' + @{${gig.id}} + '/delete'" method="post">
                        <input class="waves-effect waves-light btn" type="submit" value="Yes"/>
                    </form>
                </div>
                <div class="col s6">
                    <button class="waves-effect waves-light btn modal-close" type="close" >No</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:fragment="profileMusicianDelete">
    <div id="profileMusicianDelete" class="modal">
        <div class="modal-content">
            <div class="row">
                <p>Are you sure?</p>
                    <form th:action="'/admin/' + @{${musician.user.id}} + '/delete'" method="post">
                        <input class="waves-effect waves-light btn" type="submit" value="Yes"/>
                    </form>
                    <button class="waves-effect waves-light btn modal-close" type="button" >No</button>


            </div>

        </div>
    </div>
</div>
<div th:fragment="profileCompDelete">
    <div id="profileCompDelete" class="modal">
        <div class="modal-content">
            <div class="row">
                <p>Are you sure?</p>

                <form th:action="'/admin/' + @{${comp.user.id}} + '/delete'" method="post">
                    <input class="waves-effect waves-light btn" type="submit" th:value="Yes"> </input>
                </form>
                <button class="waves-effect waves-light btn modal-close" type="button" >No</button>
            </div>

        </div>
    </div>
</div>
<div th:fragment="coverMusicianPic">
    <div id="coverMusicianPic" class="modal">
        <div class="modal-content">
            <div class="section center-align">

                <h4>Upload Background Banner</h4>
            </div>

            <form th:action="'/musician/coverPic/' + @{${musicianProfile.id}} + '/'" method="post" th:object="${musicianProfile}" enctype="multipart/form-data">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>File</span>
                            <input type="file" th:field="*{coverPicImage}"/>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" th:value="${musicianProfile.coverPicImage}"/>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <input class="waves-effect waves-light btn right" type="submit" value="Save"/>
                    </div>

                </form>
        </div>
    </div>

</div>
<div th:fragment="profMusicianPic">
    <div id="profMusicianPic" class="modal">
        <div class="modal-content">
            <div class="section center-align">

                <h4>Upload Profile Image</h4>
            </div>
            <form th:action="'/musician/profilePic/' + @{${musicianProfile.id}} + '/'" method="post" th:object="${musicianProfile}" enctype="multipart/form-data">

                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input type="file" th:field="*{profPicImage}"/>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" th:value="${musicianProfile.profPicImage}"/>
                    </div>
                </div>
                <div class="modal-footer">

                    <input class="waves-effect waves-light btn right" type="submit" value="Save"/>
                </div>

            </form>
        </div>
    </div>

</div>
<div th:fragment="coverCompanyPic">
    <div id="coverCompanyPic" class="modal">
        <div class="modal-content">
            <div class="section center-align">

                <h4>Upload Background Banner</h4>
            </div>

            <form th:action="'/company/' + @{${companyProfile.id}} + '/coverPic'" method="post" th:object="${companyProfile}" enctype="multipart/form-data">

                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input type="file" th:field="*{companyCoverPic}"/>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" th:value="${companyProfile.companyCoverPic}"/>
                    </div>
                </div>
                <div class="modal-footer">

                    <input class="waves-effect waves-light btn right" type="submit" value="Save"/>
                </div>
            </form>
        </div>
    </div>

</div>
<div th:fragment="profCompanyPic">
    <div id="profCompanyPic" class="modal">
        <div class="modal-content">
            <div class="section center-align">

                <h4>Upload Profile Image</h4>
            </div>
            <form th:action="'/company/' + @{${companyProfile.id}} + '/profPic'" method="post" th:object="${companyProfile}" enctype="multipart/form-data">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input type="file" th:field="*{companyProfPic}"/>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" th:value="${companyProfile.companyProfPic}"/>
                    </div>
                </div>
                <div class="modal-footer">

                    <input class="waves-effect waves-light btn right" type="submit" value="Save"/>
                </div>
            </form>
        </div>
    </div>

</div>

<span th:include="fragments/includes :: js"></span>
</body>
</html>