<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="fragments/includes :: indexHead"></head>
<body>
<div th:fragment="navHome">
    <header>
        <ul id="dropdown1" class="dropdown-content" >
            <li>
                <form th:action="@{/logout}" method="post">
                    <input class="btn-flat" type="submit" value="LOGOUT"/>
                </form>
            </li>
            <li sec:authorize="hasRole('ROLE_MUSICIAN')">
                <a class="waves-effect waves-light " href="/musician/update-profile">Update Profile</a>
            </li>
            <li sec:authorize="hasRole('ROLE_COMPANY')">
                <a class="waves-effect waves-light " href="/company/update-profile">Update Profile</a>

            </li>
        </ul>

        <ul class="side-nav" id="mobile-demo">
            <div sec:authorize="!isAuthenticated()">
                <li><a href="/login" >Login</a></li>
            </div>
            <div sec:authorize="hasRole('ROLE_COMPANY')">
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img th:src="@{'https://s3.amazonaws.com/s3-gigfinder/' + ${companyProfile.companyCoverPic}}" alt=""/>
                        </div>
                        <a href="#!user"><img class="circle" th:src="@{'https://s3.amazonaws.com/s3-gigfinder/' + ${companyProfile.companyProfPic}}"/></a>
                        <a href="#!name"><span class="white-text name">[[${user.username}]]</span></a>
                        <a href="#!email"><span class="white-text email">[[${user.email}]]</span></a>

                    </div>
                </li>
                <li>
                    <a class="waves-effect waves-light" href="/company/update-profile">Update Profile</a>
                </li>
            </div>
            <div sec:authorize="hasRole('ROLE_MUSICIAN')">
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img th:src="@{'https://s3.amazonaws.com/s3-gigfinder/' + ${musicianProfile.coverPicImage}}" alt=""/>
                        </div>
                        <a href="#!user"><img class="circle" th:src="@{'https://s3.amazonaws.com/s3-gigfinder/' + ${musicianProfile.profPicImage}}"/></a>
                        <a href="#!name"><span class="white-text name">[[${user.username}]]</span></a>
                        <a href="#!email"><span class="white-text email">[[${user.email}]]</span></a>
                    </div>
                </li>
                <li>
                    <a class="waves-effect waves-light " href="/musician/update-profile">Update Profile</a>
                </li>
            </div>
                <li><div class="divider"></div></li>

                <li><a class="waves-effect" th:href="@{/find-gigs}">Find a Gig</a></li>
                <li><a  class="waves-effect" th:href="@{/find-bands}">Find a Band</a></li>
                <li sec:authorize="hasRole('ROLE_COMPANY')"><a class="waves-effect" href="/search">Search Musicians</a></li>
            <li sec:authorize="hasRole('ROLE_MUSICIAN')"><a class="waves-effect" href="/search">Search Gigs</a></li>

            <li><div class="divider"></div></li>
                <li>
                    <form th:action="@{/logout}" method="post">
                        <input class="btn-flat" type="submit" value="LOGOUT"/>
                    </form>
                </li>
        </ul>

        <nav>
            <div class=" nav-wrapper">
                <a sec:authorize="!isAuthenticated()" href="/" class="brand-logo">gigFinder</a>

                <a href="/company/my-profile" sec:authorize="hasRole('ROLE_COMPANY')" class="brand-logo">gigFinder</a>

                <a href="/musician/my-profile" sec:authorize="hasRole('ROLE_MUSICIAN')" class="brand-logo">gigFinder</a>
                <a href="/admin" sec:authorize="hasRole('ROLE_ADMIN')" class="brand-logo">gigFinder</a>

                <a sec:authorize="isAuthenticated()" href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <div sec:authorize="isAuthenticated()">

                        <li><a href="/search">Search</a></li>
                        <li><a  th:href="@{/find-gigs}">Find a Gig</a></li>
                        <li><a  th:href="@{/find-bands}">Find a Band</a></li>
                        <li sec:authorize="hasRole('ROLE_COMPANY')">
                            <a class="dropdown-button valign-wrapper" href="#!" data-activates="dropdown1" data-constrainwidth="false" th:inline="text">
                                [[${user.username}]] <img th:src="@{'https://s3.amazonaws.com/s3-gigfinder/' + ${companyProfile.companyProfPic}} " class="navAvatar circle"/>
                                <i class="material-icons right">arrow_drop_down</i></a>
                        </li>
                        <li sec:authorize="hasRole('ROLE_MUSICIAN')" >
                            <a class="dropdown-button valign-wrapper" href="#!" data-activates="dropdown1" data-constrainwidth="false" th:inline="text">
                                [[${user.username}]] <img th:src="@{'https://s3.amazonaws.com/s3-gigfinder/' + ${musicianProfile.profPicImage}} " class="navAvatar circle"/>
                                <i class="material-icons right">arrow_drop_down</i></a>
                        </li>
                    </div>

                    <li sec:authorize="!isAuthenticated()"><a  class="modal-trigger" href="#signupModal" style="margin-right: 0px;">Login</a></li>

                </ul>

            </div>
        </nav>
    </header>

</div>


<span th:include="fragments/includes :: js"></span>

</body>
</html>