<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="fragments/includes :: indexHead"></head>
<body class="grey lighten-1" th:inline="text">
    <main >
        <section class="indigo darken-4 profileBanner" th:style="'background:url('+ @{'https://s3.amazonaws.com/s3-gigfinder/' + ${companyProfile.companyCoverPic}}+'); background-size: cover; background-repeat: no-repeat; background-position: center;'">
            <div th:include="fragments/navbar :: navHome"></div>
            <a href="#coverCompanyPic" class="modal-trigger tooltipped" data-position="right" data-delay="50" data-tooltip="Update Cover Image"><i class="coverBanner text-accent-4 material-icons">camera_alt</i></a>



            <div class="show-on-medium-and-down hide-on-large-only">
                <div class="tab-profile white-text">
                    <div class="circle tab-profPic profImage" th:style="'background:url('+ @{'https://s3.amazonaws.com/s3-gigfinder/' + ${companyProfile.companyProfPic}}+'); background-size: cover; background-repeat: no-repeat; background-position: center; width: 200px; height: 200px;'">
                        <div class="middle">
                            <div  id="hover-content">
                                <a href="#profCompanyPic" class=" modal-trigger"><i class=" orange-text text-accent-4 material-icons bannerEdit">edit</i><br/><span class="profMessage white-text">Update Profile Image</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <h4>[[${companyProfile.companyContactFirstName}]] [[${companyProfile.companyContactLastName}]]</h4>
                    <h5 > [[${companyProfile.companyName}]]</h5>
                </div>
            </div>


        </section>
        <div class="hide-on-med-and-down">
            <section class="container">
                <div class="row-content">
                    <div class="profile-info">
                        <div class="profCol z-depth-5">
                            <div class="profImage" th:style="'background:url('+ @{'https://s3.amazonaws.com/s3-gigfinder/' + ${companyProfile.companyProfPic}}+'); background-size: cover; background-repeat: no-repeat; background-position: center; height: 400px;'">
                                <div class="middle">
                                    <div  id="hover-content">
                                        <a href="#profCompanyPic" class=" modal-trigger"><i class=" orange-text text-accent-4 material-icons bannerEdit">edit</i><br/><span class="profMessage white-text">Update Profile Image</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="profInfo white">

                                <section >
                                    <div class="section">
                                        <h5 class="valign-wrapper">
                                            <i class="orange-text text-accent-4 material-icons">account_circle</i>
                                            <b>[[${companyProfile.companyContactFirstName}]] [[${companyProfile.companyContactLastName}]]</b>
                                        </h5>


                                    </div>
                                    <div class="divider"></div>
                                    <div class="section">
                                        <p class="valign-wrapper"><i
                                                class="orange-text text-accent-4 material-icons">business_center</i>[[${companyProfile.companyName}]]</p>
                                        <p class="valign-wrapper"><i class="orange-text text-accent-4 material-icons">location_on</i> [[${companyProfile.companyLocation}]]</p>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="section">
                                        <p class="valign-wrapper"><i class="orange-text text-accent-4 material-icons">email</i> [[${user.email}]]</p>
                                        <p class="valign-wrapper"><i class="orange-text text-accent-4 material-icons">local_phone</i> [[${companyProfile.user.phoneNumber}]]</p>

                                    </div>


                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="profile-content">
                        <div class="row">
                            <div class="col s12">
                                <ul class="tabs tabs-fixed-width z-depth-4">
                                    <li class="tab"><a href="#gigs">My Events</a></li>
                                    <li class="tab"><a href="#hiredEvents">Hired Events</a></li>
                                    <li class="tab"><a href="#areaMusicians">Musicians in the Area</a></li>
                                </ul>
                            </div>
                            <div id="gigs" class="col s12">
                                <div class="center-align card-panel">

                                    <h4 >Your Gigs
                                        <span>
        <a th:href="@{/company/create-gig/}" class="waves-effect waves-light btn-floating tooltipped" data-position="top" data-delay="50" data-tooltip="Create a Gig">
            <i class="material-icons">add</i>
        </a>

        </span>
                                    </h4>
                                    <div th:if="${companyProfile.getGigs().isEmpty()}">
                                        <h5>You haven't created any Gigs</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div  th:each="gig : ${gig}" th:if="${gig.gigHired} != true">
                                        <div class="col s12 m6 l6">
                                            <div  class="gigCard z-depth-2">
                                                <div class="gigImage" th:style="'background:url('+ @{'https://s3.amazonaws.com/s3-gigfinder/' + ${gig.gigArt}}+'); background-size: cover; background-repeat: no-repeat; background-position: center; height: 150px;'">
                                                    <div class="dateBox white orange-text text-accent-4 center-align">
                                                        <h4>[[${#dates.format(gig.gigStart,'d')}]]</h4>
                                                        <p>[[${#dates.format(gig.gigStart,'MMMM')}]]</p>
                                                    </div>
                                                    <a class="goBtn right waves-effect waves-light white-text orange accent-4 btn-floating " th:href="'/gig/' + @{${gig.id}}"><i class="material-icons">arrow_forward</i></a>

                                                </div>
                                                <div class="gigInfo white center-align">
                                                    <p><b>[[${gig.gigTitle}]]</b></p>
                                                    <p >[[${gig.gigLocation}]]</p>
                                                    <div class="divider"></div>
                                                    <a class=" waves-effect waves-light white-text orange accent-4 hoverable gigApplied " th:href="'/gig/' + @{${gig.id}}">Musicians Applied <span class="badge">[[${gig.getMusicianApplyGigs().size()}]]</span></a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div id="hiredEvents" class="col s12">
                                <div class="center-align card-panel">

                                    <h4 >Your Gigs With Hired Musicians</h4>
                                </div>
                                <div class="row">
                                    <div  th:each="gig : ${gig}" th:if="${gig.gigHired} == true">
                                        <div class="col s12 m6">
                                            <div  class="gigCard z-depth-2">
                                                <div class="gigImage" th:style="'background:url('+ @{'https://s3.amazonaws.com/s3-gigfinder/' + ${gig.gigArt}}+'); background-size: cover; background-repeat: no-repeat; background-position: center; height: 150px;'">
                                                    <div class="dateBox white orange-text text-accent-4 center-align">
                                                        <h4>[[${#dates.format(gig.gigStart,'d')}]]</h4>
                                                        <p>[[${#dates.format(gig.gigStart,'MMMM')}]]</p>
                                                    </div>
                                                    <a class="goBtn right waves-effect waves-light white-text orange accent-4 btn-floating " th:href="'/gig/' + @{${gig.id}}"><i class="material-icons">arrow_forward</i></a>

                                                </div>
                                                <div class="gigInfo white center-align">
                                                    <p><b>[[${gig.gigTitle}]]</b></p>
                                                    <p >[[${gig.gigLocation}]]</p>
                                                    <div class="divider"></div>
                                                    <div class="center-align">
                                                        <h4 >Hired<i class="checkmark material-icons">check</i></h4>
                                                        <div th:each="hired : ${hired}">

                                                            <a th:href="'/find-bands/' + @{${hired.musicianProfile.id}}" >
                                                                <img th:src="@{'https://s3.amazonaws.com/s3-gigfinder/' + ${hired.musicianProfile.profPicImage}} " class="cardImage hiredImage circle"/>
                                                                <h5 class="black-text"><b>[[${hired.musicianProfile.firstName}]] [[${hired.musicianProfile.lastName}]]</b></h5>

                                                            </a>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div id="areaMusicians" class="col s12">
                                <div class="center-align card-panel">

                                    <h4 >Musicians in the Area
                                        <span>
                    <a class="btn-floating waves-effect waves-light tooltipped" data-position="top" data-delay="50" data-tooltip="Search Musicians" href="/search"><i class="material-icons">search</i></a>
                </span>
                                    </h4>
                                    <div th:if="${musician.isEmpty()}">
                                        <h5>No gigFinder Musicians are in your area</h5>
                                    </div>
                                </div>
                                <div class="findBand container">
                                    <div class="row">
                                        <div  th:each="musician : ${musician}" >
                                            <div class="col s4 m4 l4  center-align ">
                                                <a th:href="'/find-bands/' + @{${musician.id}}" >
                                                    <div  th:style="'background:url('+ @{'https://s3.amazonaws.com/s3-gigfinder/' + ${musician.profPicImage}}+'); background-size: cover; background-repeat: no-repeat; background-position: center; height: 30vh; width: 100%'" class="bandInfo hoverable">
                                                        <div class="second">
                                                            <div class="hiddenText">
                                                                <h5 ><b>[[${musician.firstName}]] [[${musician.lastName}]]</b></h5>
                                                                <p>[[${musician.musicianInstruments}]]</p>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </a>


                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="show-on-medium-and-down hide-on-large-only">

            <div class="profile-content">
                <div class="row">
                    <div class="col s12">
                        <ul class="tabs tabs-fixed-width z-depth-4">
                            <li class="tab "><a class="active" href="#tab-bio"><i class=" material-icons">account_circle</i></a></li>
                            <li class="tab"><a href="#tab-gigs"><i class=" material-icons">event</i></a></li>
                            <li class="tab"><a href="#tab-hiredEvents"><i class=" material-icons">event_available</i></a></li>
                            <li class="tab"><a href="#tab-areaMusicians"><i class=" material-icons">place</i></a></li>
                        </ul>
                    </div>
                    <div id="tab-bio" class="col s12 container">
                        <div class="card-panel">
                            <section >
                                <div class="section">
                                    <p class="valign-wrapper"><i class="orange-text text-accent-4 material-icons">account_circle</i> [[${user.username}]]</p>
                                    <p class="valign-wrapper"><i class="orange-text text-accent-4 material-icons">location_on</i> [[${companyProfile.companyLocation}]]</p>

                                </div>

                                <div class="divider"></div>
                                <div class="section">
                                    <p class="valign-wrapper"><i class="orange-text text-accent-4 material-icons">email</i> [[${user.email}]]</p>
                                    <p class="valign-wrapper"><i class="orange-text text-accent-4 material-icons">local_phone</i> [[${companyProfile.user.phoneNumber}]]</p>

                                </div>
                            </section>
                        </div>
                    </div>
                    <div id="tab-gigs" class="col s12">
                        <div class="center-align card-panel">

                            <h4 >Your Gigs
                                <span>
        <a th:href="@{/company/create-gig/}" class="waves-effect waves-light btn-floating tooltipped" data-position="top" data-delay="50" data-tooltip="Create a Gig">
            <i class="material-icons">add</i>
        </a>

        </span>
                            </h4>
                            <div th:if="${companyProfile.getGigs().isEmpty()}">
                                <h5>You haven't created any Gigs</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div  th:each="gig : ${gig}" th:if="${gig.gigHired} != true">
                                <div class="col s12 m6 l6">
                                    <div  class="gigCard z-depth-2">
                                        <div class="gigImage" th:style="'background:url('+ @{'https://s3.amazonaws.com/s3-gigfinder/' + ${gig.gigArt}}+'); background-size: cover; background-repeat: no-repeat; background-position: center; height: 150px;'">
                                            <div class="dateBox white orange-text text-accent-4 center-align">
                                                <h4>[[${#dates.format(gig.gigStart,'d')}]]</h4>
                                                <p>[[${#dates.format(gig.gigStart,'MMMM')}]]</p>
                                            </div>
                                            <a class="goBtn right waves-effect waves-light white-text orange accent-4 btn-floating " th:href="'/gig/' + @{${gig.id}}"><i class="material-icons">arrow_forward</i></a>

                                        </div>
                                        <div class="gigInfo white center-align">
                                            <p><b>[[${gig.gigTitle}]]</b></p>
                                            <p >[[${gig.gigLocation}]]</p>
                                            <div class="divider"></div>
                                            <a class=" waves-effect waves-light white-text orange accent-4 hoverable gigApplied " th:href="'/gig/' + @{${gig.id}}">Musicians Applied <span class="badge">[[${gig.getMusicianApplyGigs().size()}]]</span></a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div id="tab-hiredEvents" class="col s12">
                        <div class="center-align card-panel">
                            <h4 >Your Gigs With Hired Musicians</h4>
                        </div>
                        <div class="row">
                            <div  th:each="gig : ${gig}" th:if="${gig.gigHired} == true">
                                <div class="col s12 m6">
                                    <div  class="gigCard z-depth-2">
                                        <div class="gigImage" th:style="'background:url('+ @{'https://s3.amazonaws.com/s3-gigfinder/' + ${gig.gigArt}}+'); background-size: cover; background-repeat: no-repeat; background-position: center; height: 150px;'">
                                            <div class="dateBox white orange-text text-accent-4 center-align">
                                                <h4>[[${#dates.format(gig.gigStart,'d')}]]</h4>
                                                <p>[[${#dates.format(gig.gigStart,'MMMM')}]]</p>
                                            </div>
                                            <a class="goBtn right waves-effect waves-light white-text orange accent-4 btn-floating " th:href="'/gig/' + @{${gig.id}}"><i class="material-icons">arrow_forward</i></a>

                                        </div>
                                        <div class="gigInfo white center-align">
                                            <p><b>[[${gig.gigTitle}]]</b></p>
                                            <p >[[${gig.gigLocation}]]</p>
                                            <div class="divider"></div>
                                            <div class="center-align">
                                                <h4 >Hired<i class="checkmark material-icons">check</i></h4>
                                                <div th:each="hired : ${hired}">

                                                    <a th:href="'/find-bands/' + @{${hired.musicianProfile.id}}" >
                                                        <img th:src="@{'https://s3.amazonaws.com/s3-gigfinder/' + ${hired.musicianProfile.profPicImage}} " class="cardImage hiredImage circle"/>
                                                        <h5 class="black-text"><b>[[${hired.musicianProfile.firstName}]] [[${hired.musicianProfile.lastName}]]</b></h5>

                                                    </a>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="tab-areaMusicians" class="col s12">
                        <div class="center-align card-panel">

                            <h4 >Musicians in the Area
                                <span>
                    <a class="btn-floating waves-effect waves-light tooltipped" data-position="top" data-delay="50" data-tooltip="Search Musicians" href="/search"><i class="material-icons">search</i></a>
                </span>
                            </h4>
                            <div th:if="${musician.isEmpty()}">
                                <h5>No gigFinder Musicians are in your area</h5>
                            </div>
                        </div>
                        <div class="findBand">
                            <div class="row">
                                <div  th:each="musician : ${musician}" >
                                    <div class="col s6 m4 l3  center-align ">
                                        <a th:href="'/find-bands/' + @{${musician.id}}" >
                                            <div  th:style="'background:url('+ @{'https://s3.amazonaws.com/s3-gigfinder/' + ${musician.profPicImage}}+'); background-size: cover; background-repeat: no-repeat; background-position: center; height: 30vh; width: 100%'" class="bandInfo hoverable">
                                                <div class="second">
                                                    <div class="hiddenText">
                                                        <h5 ><b>[[${musician.firstName}]] [[${musician.lastName}]]</b></h5>
                                                        <p>[[${musician.musicianInstruments}]]</p>
                                                    </div>
                                                </div>


                                            </div>
                                        </a>


                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </main>

    <div th:include="fragments/modals :: coverCompanyPic"></div>
    <div th:include="fragments/modals :: profCompanyPic"></div>

    <div th:include="fragments/footer :: footer"></div>

<span th:include="fragments/includes :: js"></span>
</body>
</html>