<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="includes :: indexHead"></head>
<body>
<div th:include="navbar :: nav"></div>
<main class="container">
    <div class="" th:each="gig : ${gig}">
        <div class="section ">
            <div class="row">
                <div class="col s3">
                    <img class="gigArt" th:src="${gig.gigArt}" alt=""/>
                </div>
            <div class="col s9">
                <h4 th:text="${gig.gigDescription}"></h4>
                <h5 th:text="'When: ' + ${gig.gigStart}"></h5>
                <h5 th:text="'Where: '+${gig.gigLocation}"></h5>
                <div class="row">
                    <div class="col s9">
                        <h5 th:text="'Type: '+${gig.gigType}"></h5>

                    </div>
                    <div class="col s3">
                        <a class="btn" th:href="'/musician/gig/' + @{${gig.id}}">Apply</a>

                    </div>

                </div>
                </div>

            </div>


        </div>
        <div class="divider"></div>
    </div>
</main>
<div th:include="footer :: footer"></div>

<span th:include="includes :: js"></span>
</body>
</html>