<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="includes :: indexHead"></head>
<body class="blue-grey lighten-5">
<div th:include="navbar :: navHome"></div>
<main class="container" th:inline="text">
    <h1>Find gigs</h1>
    <div class="divider"></div>
  <div class="row">
      <div  th:each="gig : ${gig}">
          <div class="col s12 m6 l4">

              <div class="gigCard z-depth-2">
                  <div class="gigImage" th:style="'background:url('+ @{${gig.gigArt}}+'); background-size: cover; background-repeat: no-repeat; background-position: center;'">
                      <div class="dateBox white orange-text text-accent-4 center-align">
                          <h4>[[${#dates.format(gig.gigStart,'d')}]]</h4>
                          <p>[[${#dates.format(gig.gigStart,'MMMM')}]]</p>
                      </div>
                  </div>
                  <div class="gigInfo white center-align">
                      <p><b>[[${gig.gigTitle}]]</b></p>
                      <p >[[${gig.gigLocation}]]</p>
                      <p>[[${gig.gigType}]]</p>
                      <div class="divider"></div>
                      <a sec:authorize="hasRole('ROLE_MUSICIAN')" class="btn" th:href="'/musician/gig/' + @{${gig.id}}">Apply</a>
                      <a sec:authorize="hasRole('ROLE_COMPANY')" class="btn" th:href="'/company/gig/' + @{${gig.id}}">More Info</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
        <div class="divider"></div>


</main>
<div th:include="footer :: footer"></div>
<div th:include="modals :: signupModal"></div>

<span th:include="includes :: js"></span>
</body>
</html>