<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="includes :: indexHead"></head>
<body class="blue-grey lighten-5">
<div th:include="navbar :: navHome"></div>
<main th:inline="text">
    <div class="row gigDetails">
        <div class="col s8">
            <div class="row center-align ">
                <div sec:authorize="hasRole('ROLE_MUSICIAN')" class="col l3">
                    <form  th:action="'/musician/gig/'+ @{${gig.id}} + '/apply'" method="post">
                        <input type="submit" class="waves-effect waves-light btn" value="Apply for Gig"/>
                    </form>
                </div>

                <div class="col l3">
                    <a th:href="'https://www.google.com/maps/place/'+ @{${gig.gigLocation}}" target="_blank" class="waves-effect waves-light btn">Directions</a>

                </div>
                <div sec:authorize="hasRole('ROLE_COMPANY')" class="col l3">
                    <a class="waves-effect waves-light btn modal-trigger" href="#gigUpdate">Update</a>

                </div>
                <div th:if="${gig.companyProfile.user.username == user.username}" sec:authorize="hasRole('ROLE_COMPANY')" class="col l3">
                    <a class="waves-effect waves-light modal-trigger btn" href="#gigDelete">Delete</a>

                </div>


            </div>

            <div>
                <img th:src="@{${gig.gigArt}}" th:alt="${gig.gigDescription}"/>
                <h1>[[${gig.gigTitle}]]</h1>
                <p>[[${gig.gigType}]]</p>
                <p>Starts [[${#dates.format(gig.gigStart,'EEE, d MMM yyyy')}]] -  Ends [[${#dates.format(gig.gigEnd,'EEE, d MMM yyyy')}]]</p>
                <p>[[${gig.gigLocation}]]</p>
                <h5>[[${gig.gigDescription}]]</h5>

            </div>

            <div sec:authorize="hasRole('ROLE_COMPANY')" class="row" th:each="applied : ${applied}">
                <div class="musicianCards">
                    <a th:href="'/company/find-bands/' + @{${applied.musicianProfile.id}}" >

                        <div class="  white hoverable z-depth-2">

                            <div class="valign-wrapper">
                                <div class="left ">
                                    <img th:src="@{${musician.profPicImage}} " class="cardImage circle"/>
                                </div>

                                <div class="musicianInfo black-text">
                                    <p ><b>[[${applied.musicianProfile.firstName}]] [[${applied.musicianProfile.lastName}]]</b></p>
                                    <p>[[${applied.musicianProfile.musicianInstruments}]]</p>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="col s12 m6">
                    <div class="card medium">
                        <div class="card-image">
                            <img th:src="@{${applied.musicianProfile.profPicImage}}"/>
                        </div>
                        <div class="card-content">
                            <span class="card-title">[[${applied.musicianProfile.firstName}]] [[${applied.musicianProfile.lastName}]]</span>
                            <p>[[${applied.musicianProfile.musicianInstruments}]]</p>
                            <div class="card-action">
                                <a th:href="'/company/find-bands/' + @{${applied.musicianProfile.id}}">Go To Page</a>

                                <a th:href="'mailto:'+@{${applied.musicianProfile.musicianEmail}}">[[${applied.musicianProfile.musicianEmail}]]</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

        <div class="col s4">
            <img class="map" th:src="${url}" alt="map"/>
        </div>
    </div>



</main>
<div th:include="footer :: footer"></div>
<div th:include="modals :: gigUpdate"></div>
<div th:include="modals :: gigDelete"></div>
<span th:include="includes :: js"></span>

</body>
</html>