<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="indexHead">
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-material-design/4.0.2/dist/bootstrap-material-design.min.css}"/>
</head>
<body>

<span th:fragment="js">
    <script th:src="@{/webjars/bootstrap-material-design/4.0.2/dist/bootstrap-material-design.iife.min.js}"></script>
        <script th:src="@{/webjars/bootstrap-material-design/4.0.2/dist/bootstrap-material-design.umd.js.map}"></script>
    <script>
         $(document).ready(function() {
             $('.mdb-select').material_select();
         });
    </script>
</span>
</body>
</html>