<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/includes :: indexHead"></head>
<body th:inline="text" class="blue-grey lighten-5">

    <main>
        <section class=" top">
            <div class="hide-on-med-and-down">
                <div class="section scrollspy" id="top">

                    <div class=" logo-action">
                        <h1 class="brand-logo white-text" id="logo">gigFinder</h1>
                        <div class="row">
                            <div class="col s6 right-align">
                                <a  class="modal-trigger logBtn" href="#signupModal" style="margin-right: 0px;">Login</a>

                            </div>
                            <div class="col s6 left-align">
                                <a  class="logBtn" href="#bottom" style="margin-right: 0px;">Sign Up</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="show-on-med-and-down hide-on-large-only">
                <section class="tab-top">

                    <div class="card-panel center-align ">
                        <h1 class="login-logo center-align"> gigFinder</h1>

                        <div th:text="${message}"></div>
                        <div style="color: red; margin: 15px 0px;" th:text="${error}"></div>

                        <form th:action="@{/login}" th:object="${user}" method="post" class="white-text">
                            <div class="input-field">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="username" type="text" th:field="*{username}" autofocus="autofocus"/>
                                <label for="username">Username</label>

                            </div>
                            <div class="input-field">
                                <i class="material-icons prefix">lock</i>

                                <input id="password" type="password" th:field="*{password}" />
                                <label for="password">Password</label>
                            </div>

                                    <button class="waves-effect waves-light btn" type="submit" >Login</button>




                        </form>
                    <a  class="waves-effect waves-light btn" href="#bottom" style="margin-right: 0px;">Sign Up</a>

                    </div>
                </section>

            </div>
        </section>
        <section class="choice" id="bottom">
            <div class="row">
                <div class="col s12 l6" id="musicChoice">
                    <section class="center-align">
                        <div class="musicText white-text">
                            <h2>I'm a Musician</h2>
                            <p>I'm looking for gigs</p>
                            <p>I want to network with other musicians</p>
                            <p>I need to get my name out there</p>
                            <a href="/signup/musician/" class="hireBtn logBtn">Sign Up</a>
                        </div>
                    </section>
                </div>
                <div id="compChoice" class="col s12 l6">
                    <section class="center-align">
                        <div class="compText white-text">
                            <h2>I Book Musicians</h2>
                            <p>I need help booking musicians</p>
                            <p>I need help finding new talent</p>
                            <p>I need to advertise gigs for my venue</p>

                            <a href="/signup/company/" class="logBtn hireBtn">Sign Up</a>

                        </div>
                    </section>
                </div>

            </div>
        </section>
    </main>
    <div th:include="fragments/footer :: footer"></div>
    <div th:include="fragments/modals :: signupModal"></div>

<span th:include="fragments/includes :: js"></span>
</body>
</html>