<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/includes :: indexHead"></head>
<body class="blue-grey lighten-5">

<main>
    <section class=" top">
        <div th:include="fragments/navbar :: navHome"></div>

        <div class="section scrollspy" id="top">

            <div class=" container">
                <h1 class="brand-logo white-text" id="logo">gigFinder</h1>
                <a href="#bottom" class="center-align"><i class="material-icons white-text downArrow">arrow_downward</i></a>
            </div>


        </div>
    </section>
    <section class="choice" id="bottom">
        <div class="row">
            <div class="col s12 m6" id="musicChoice">
                <section class="center-align">
                    <div class="musicText white-text">
                        <h3>I'm a Musician</h3>
                        <h5>I'm looking for a gig</h5>
                        <h5>I want to network with other musicians</h5>
                        <h5>I need to get my name out there</h5>
                        <a href="/signup/musician/" class="logBtn">Sign Up</a>
                    </div>
                </section>
            </div>
            <div id="compChoice" class="col s12 m6">
                <section class="center-align">
                    <div class="compText white-text">
                        <h3>I Book Musicians</h3>
                        <h5>I need help booking musicians</h5>
                        <h5>I need to advertise gigs for my venue</h5>

                        <div class="compAction">
                            <a href="/signup/company/" class="logBtn">Sign Up</a>

                        </div>
                    </div>
                </section>
            </div>

        </div>
    </section>
</main>
<div th:include="fragments/footer :: footer"></div>
<div th:include="fragments/modals :: signupModal"></div>
<span th:include="fragments/includes :: js"></span>
</body>
</html>