<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="includes :: indexHead"></head>
<body class=" valign-wrapper login">
<div class="container ">
    <div class="row ">
        <div class="col l5 ">
            <div class="card-panel">
                <h1 class="brand-logo center-align" id="logo">gigFinder</h1>
                <div class="card medium">
                    <div class="card-content">
                        <h1 class="center-align">LOGIN</h1>
                        <div style="color: red;" th:text="${error}"></div>

                        <form th:action="@{/login}" th:object="${user}" method="post">
                            <input type="text" th:field="*{username}" placeholder="Username"/>
                            <input type="password" th:field="*{password}" placeholder="Password"/>
                            <button class="waves-effect waves-light btn" type="submit" >Login</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>

</div>

</div>
<div th:include="modals :: signupModal"></div>

<span th:include="includes :: js"></span>
</body>
</html>