<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="includes :: indexHead"></head>
<body>

<div th:fragment="signupModal">
    <div id="signupModal" class="modal">
        <div class="modal-content">
            <div class="container">
                <h1>LOGIN</h1>
                <div style="color: red;" th:text="${error}"></div>

                <form th:action="@{/login}" th:object="${user}" method="post">
                    <input type="text" th:field="*{username}" placeholder="Username"/>
                    <input type="password" th:field="*{password}" placeholder="Password"/>
                    <button class="waves-effect waves-light btn" type="submit" >Login</button>
                </form>
            </div>
            </div>
        </div>

    </div>
<div th:fragment="musicianUpdate">
    <div id="musicUpdate" class="modal">
        <div class="modal-content">
            <form th:action="'/musician/' + @{${musicianProfile.id}} + '/update-profile/'" th:object="${musicianProfile}" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="input-field col s6">
                        <label for="firstName">First Name</label>
                        <input id="firstName" type="text" th:field="*{firstName}"/>
                    </div>
                    <div class="input-field col s6">
                        <label for="lastName">Last Name</label>
                        <input id="lastName" type="text" th:field="*{lastName}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="pNumber">Phone Number</label>
                        <input id="pNumber" type="text" th:field="*{musicianPhoneNumber}"/>
                    </div>
                    <div class="input-field col s6">
                        <label for="email">Email</label>
                        <input id="email" type="email" th:field="*{musicianEmail}"/>
                    </div>
                </div>
                <div class="input-field col s12">
                    <select multiple="multiple" th:field="*{musicianInstruments}">
                        <option value="" disabled="disabled" selected="selected">Choose Musical Instruments</option>
                        <option th:each="instrument : ${instruments}" th:value="${instrument.name}">[[${instrument.name}]]</option>
                    </select>

                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <label for="location">Location</label>
                        <input id="location" type="text" th:field="*{location}" class="autocomplete"/>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="bio">Bio</label>
                        <input id="bio" type="text" th:field="*{bio}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="birthDate">BirthDate</label>
                        <input id="birthDate" type="date" class="datepicker" th:field="*{birthDate}"/>
                    </div>
                </div>
                <!--<div class="row">-->
                    <!--<div class="file-field input-field">-->
                        <!--<div class="btn">-->
                            <!--<span>File</span>-->
                            <!--<input type="file">-->
                        <!--</div>-->
                        <!--<div class="file-path-wrapper">-->
                            <!--<input class="file-path validate" type="text" th:field="*{picImage}" placeholder="Choose Profile Image">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <button class="waves-effect waves-light btn" type="submit" >Update Profile</button>
            </form>

        </div>
    </div>
</div>
<div th:fragment="mediaUpdate">
    <div id="mediaUpdate"  class="modal">
        <div class="modal-content">
            <form th:action="'/musician/media/' + @{${media.id}} + '/update/'" method="post" th:object="${mediaContent}">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" id="title" th:field="*{title}" th:value="${media.title}" placeholder="Title of music"/>
                        <label for="title">Title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="url" type="text" th:field="*{media_url}" th:value="${media.media_url}" placeholder="Youtube URL of your music"/>
                        <label for="url">Add Music</label>
                    </div>
                </div>
                <button class="btn orange accent-4" type="submit">Update</button>
            </form>
        </div>
    </div>
</div>
<div th:fragment="companyProfileUpdate">
    <div id="companyUpdate" class="modal">
        <div class="modal-content">
    <form th:action="'/company/' + @{${companyProfile.id}} + '/update-profile/'" th:object="${companyProfile}" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="input-field col s12">
                <label for="name">Company Name</label>
                <input id="name" type="text" th:field="*{companyName}"/>
            </div>

        </div>
        <div class="row">
            <div class="input-field col s6">
                <label for="firstName">Contact First Name</label>
                <input id="firstName" type="text" th:field="*{companyContactFirstName}"/>
            </div>
            <div class="input-field col s6">
                <label for="lastName">Contact Last Name</label>
                <input id="lastName" type="text" th:field="*{companyContactLastName}"/>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <label for="pNumber">Contact Phone Number</label>
                <input id="pNumber" type="text" th:field="*{phoneNumber}" />
            </div>
            <div class="input-field col s6">
                <label for="email"> Contact Email</label>
                <input id="email" type="email" th:field="*{email}" />
            </div>
        </div>
        <!--<div class="row">-->
            <!--<div class="file-field input-field">-->
                <!--<div class="btn">-->
                    <!--<span>File</span>-->
                    <!--<input type="file">-->
                <!--</div>-->
                <!--<div class="file-path-wrapper">-->
                    <!--<input class="file-path validate" type="text" th:field="*{companyPic}" placeholder="Choose Profile Image">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <button class="waves-effect waves-light btn" type="submit" >Update Profile</button>

    </form>
        </div>
    </div>
</div>
<div th:fragment="gigUpdate">
    <div id="gigUpdate" class="modal">
        <div class="modal-content">
            <form th:action="'/company/gig/' +@{${gig.id}} + '/update'" method="post" th:object="${gig}" enctype="multipart/form-data">
                <div class="row">
                    <div class="input-field col s12">
                        <label for="location">Street</label>
                        <input id="location" type="text" name="locationStreet" class="autocomplete"/>
                    </div>

                    <div class="input-field col s6">
                        <input id="city" type="text" name="locationCity"/>
                        <label for="city">City</label>
                    </div>
                    <div class="input-field col s3">
                        <select name="locationState" id="state">
                            <option value="" disabled="disabled" selected="selected">State</option>
                            <option th:each="states : ${states}" th:value="${states.abbreviation}">[[${states.name}]], [[${states.abbreviation}]]</option>
                        </select>
                    </div>

                    <div class="input-field col s3">
                        <input id="zip" type="text" name="locationZip" maxlength="5" minlength="5"/>
                        <label for="zip">Zip Code</label>
                    </div>

                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="start">Start</label>
                        <input id="start" type="date" class="datepicker" th:field="*{gigStart}"/>
                    </div>
                    <div class="input-field col s6">
                        <label for="end">End</label>
                        <input id="end" type="date" class="datepicker" th:field="*{gigEnd}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="type">Gig Type</label>
                        <input id="type" type="text"  th:field="*{gigType}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="description">Description</label>
                        <input id="description" type="text" th:field="*{gigDescription}"/>

                    </div>
                </div>
                <!--<div class="row">-->
                    <!--<div class="file-field input-field">-->
                        <!--<div class="btn">-->
                            <!--<span>File</span>-->
                            <!--<input type="file">-->
                        <!--</div>-->
                        <!--<div class="file-path-wrapper">-->
                            <!--<input class="file-path validate" type="text" th:field="*{gigArt}" placeholder="Choose Profile Image">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <button class="waves-effect waves-light btn" type="submit" >Update Gig</button>

            </form>
        </div>
    </div>
</div>
<div th:fragment="mediaDelete">
    <div id="mediaDelete" class="modal">
        <div class="modal-content">
            <div class="row"><p>Are you sure?</p>
                <form th:action="'/musician/media/' + @{${media.id}} + '/delete'" method="post">

                    <input class="waves-effect waves-light btn" type="submit" >Yes</input>

                </form>
                <button class="waves-effect waves-light btn" type="button" >No</button>
            </div>


        </div>
    </div>
</div>
<div th:fragment="profileMusicianDelete">
    <div id="profileMusicianDelete" class="modal">
        <div class="modal-content">
            <div class="row">
                <p>Are you sure?</p>
                <form th:action="'/admin/' + @{${musician.user.id}} + '/delete'" method="post">
                    <input class="waves-effect waves-light btn" type="submit">Yes</input>
                </form>
                <button class="waves-effect waves-light btn" type="button" >No</button>
            </div>

        </div>
    </div>
</div>
<div th:fragment="profileCompDelete">
    <div id="profileCompDelete" class="modal">
        <div class="modal-content">
            <div class="row">
                <p>Are you sure?</p>
                <form th:action="'/admin/' + @{${comp.user.id}} + '/delete'" method="post">
                    <input class="waves-effect waves-light btn" type="submit">Yes</input>
                </form>
                <button class="waves-effect waves-light btn" type="button" >No</button>
            </div>

        </div>
    </div>
</div>
<span th:include="includes :: js"></span>
</body>
</html>