<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="includes :: indexHead"></head>
<body>

<div th:fragment="signupModal">
    <div id="signupModal" class="modal">
        <div class="modal-content">
           <h4>Sign Up</h4>
                <div id="signup" class="col s12">


                    <div class="row">
                        <a href="/signup/company/" class="btn">Book Musician</a>
                        <a href="/signup/musician/" class="btn">I am a Musician</a>
                    </div>
                </div>
            </div>
        </div>

    </div>





<span th:include="includes :: js"></span>
</body>
</html>