<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="fragments/includes :: indexHead"></head>
<body th:inline="text" >
    <main >
        <section class="indigo darken-4 profileBanner" th:style="'background:url('+ @{'https://s3.amazonaws.com/s3-gigfinder/'+ ${musicianProfile.coverPicImage}}+'); background-size: cover; background-repeat: no-repeat; background-position: center;'">
            <div th:include="fragments/navbar :: navHome"></div>
            <a href="#coverMusicianPic" class="modal-trigger tooltipped" data-position="right" data-delay="50" data-tooltip="Update Cover Image"><i class="coverBanner text-accent-4 material-icons">camera_alt</i></a>



            <div class="show-on-medium-and-down hide-on-large-only">
                <div class="tab-profile white-text">
                    <div class="circle tab-profPic profImage" th:style="'background:url('+ @{'https://s3.amazonaws.com/s3-gigfinder/' + ${musicianProfile.profPicImage}}+'); background-size: cover; background-repeat: no-repeat; background-position: center; width: 200px; height: 200px;'">
                        <div class="middle">
                            <div  id="hover-content">
                                <a href="#profMusicianPic" class=" modal-trigger"><i class=" material-icons bannerEdit">edit</i><br/><span class="profMessage white-text">Update Profile Image</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <h4>[[${musicianProfile.firstName}]] [[${musicianProfile.lastName}]]</h4>
                    <h5 > [[${musicianProfile.location}]]</h5>
                </div>
            </div>


        </section>
        <div class="hide-on-med-and-down">
            <section class="container">
                <div class="row-content">
                    <div class="profile-info">
                        <div class="profCol z-depth-5">
                            <div class="profImage" th:style="'background:url('+ @{'https://s3.amazonaws.com/s3-gigfinder/' + ${musicianProfile.profPicImage}}+'); background-size: cover; background-repeat: no-repeat; background-position: center; height: 400px;'">
                                <div class="middle">
                                    <div  id="hover-content">
                                        <a href="#profMusicianPic" class=" modal-trigger"><i class=" material-icons bannerEdit">edit</i><br/><span class="profMessage white-text">Update Profile Image</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="profInfo white">
                                <section >
                                    <div class="section">
                                        <h5 class="valign-wrapper"><i class=" material-icons">account_circle</i> <b>[[${musicianProfile.firstName}]] [[${musicianProfile.lastName}]]</b></h5>
                                        <p class="valign-wrapper"><i class="material-icons">location_on</i> [[${musicianProfile.location}]]</p>

                                    </div>
                                    <div class="divider"></div>
                                    <div class="section">
                                        <p class="valign-wrapper"><i class=" material-icons">star</i> [[${musicianProfile.musicianInstruments}]]</p>

                                    </div>

                                    <div class="divider"></div>
                                    <div class="section">
                                        <p class="valign-wrapper"><i class=" material-icons">email</i> [[${musicianProfile.user.email}]] </p>

                                    </div>

                                    <div class="divider"></div>
                                    <div class="section">
                                        <p> [[${musicianProfile.bio}]]</p>

                                    </div>

                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="profile-content">
                        <div class="row">
                            <div class="col s12">
                                <ul class="tabs tabs-fixed-width z-depth-4">
                                    <li class="tab "><a href="#music">My Music</a></li>
                                    <li class="tab "><a href="#upEvents">Hired Events</a></li>
                                    <li class="tab "><a href="#areaGigs">Gigs in Area</a></li>
                                    <li class="tab "><a href="#appliedGigs">Applied Gigs</a></li>
                                </ul>
                            </div>
                            <div id="music" class="col s12 container">
                                <div class=" musicCard ">
                                    <div class="card-panel orange-gradient center-align">
                                        <h4 >My Music
                                            <span>
                <a class="waves-effect waves-light btn-floating modal-trigger tooltipped" data-position="top" data-delay="50" data-tooltip="Add a YouTube video of your music" href="#addMusicContent"><i class="material-icons">add</i></a>
                </span>
                                            <div th:if="${media.isEmpty()}">
                                                <h5>Add Your Music</h5>
                                            </div>
                                        </h4>
                                    </div>
                        <table class="bordered highlight white">
                            <tr th:each="media : ${media}">
                                <td>
                                    <h5>
                                        <a class="valign-wrapper popup-youtube" th:href="@{${media.media_url}}">
                                            <i class=" material-icons">play_circle_filled</i>
                                            [[${media.title}]]
                                        </a>
                                    </h5>

                                </td>
                                <td class="right">
                                    <a class="modal-trigger waves-effect waves-light  btn-flat" th:href="'#mediaUpdate' + ${media.id}">
                                        <i class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Edit Music">edit</i>
                                    </a>
                                </td>
                                <td class="right">
                                    <form th:action="'/musician/media/delete/' + ${media.id}" method="post">
                                        <button class="modal-action  waves-effect waves-light btn-flat" type="submit" >
                                            <i class="material-icons  tooltipped" data-position="top" data-delay="50" data-tooltip="Delete Music">delete</i>
                                        </button>
                                    </form>
                                </td>
                                <div th:include="fragments/modals :: mediaUpdate"></div>

                            </tr>
                        </table>
                                </div>
                            </div>
                            <div id="upEvents" class="col s12">
                                <div class="card-panel center-align orange-gradient">
                                    <h4 >Upcoming Events</h4>
                                    <div th:if="${hired.isEmpty()}">
                                        <h5>No Upcoming Events</h5>
                                    </div>
                                </div>

                                <div class="row"  >
                                    <div class="col s12 m4" th:each="hired : ${hired}">
                                        <div  class="gigCard hoverable">
                                            <div class="gigImage" th:style="'background:url('+ @{'https://s3.amazonaws.com/s3-gigfinder/' + ${hired.gig.gigArt}}+'); background-size: cover; background-repeat: no-repeat; background-position: center; height: 200px;'">
                                                <div class="dateBox    center-align">
                                                    <p class="date">[[${#dates.format(gig.gigStart,'d')}]]</p>
                                                    <p class="month">[[${#dates.format(gig.gigStart,'MMMM')}]]</p>
                                                </div>
                                                <a class="goBtn right waves-effect waves-light  btn-floating " th:href="'/gig/' + @{${hired.gig.id}}"><i class="material-icons">arrow_forward</i></a>

                                            </div>
                                            <div class="gigInfo white center-align">
                                                <p><b>[[${hired.gig.gigTitle}]]</b></p>
                                                <p >[[${hired.gig.gigLocation}]]</p>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div id="areaGigs" class="col s12">
                                <div class="card-panel orange-gradient center-align">

                                    <h4 >Gigs in the Area
                                        <span>
                    <a class="btn-floating waves-effect waves-light tooltipped" data-position="top" data-delay="50" data-tooltip="Search Gigs" href="/search"><i class="material-icons">search</i></a>
                </span>
                                    </h4>
                                    <div th:if="${gig.isEmpty()}">
                                        <h5>No Gigs found in your area</h5>
                                    </div>
                                </div>
                                <div class="row"  >
                                    <div class="col s12 m6" th:each="gig : ${gig}" th:if="${gig.gigHired} != true">
                                        <div  class="gigCard hoverable">
                                            <div class="gigImage" th:style="'background:url('+ @{'https://s3.amazonaws.com/s3-gigfinder/' + ${gig.gigArt}}+'); background-size: cover; background-repeat: no-repeat; background-position: center; height: 200px;'">
                                                <div class="dateBox    center-align">
                                                    <p class="date">[[${#dates.format(gig.gigStart,'d')}]]</p>
                                                    <p class="month">[[${#dates.format(gig.gigStart,'MMMM')}]]</p>
                                                </div>
                                                <a class="goBtn right waves-effect waves-light btn-floating " th:href="'/gig/' + @{${gig.id}}"><i class="material-icons">arrow_forward</i></a>

                                            </div>
                                            <div class="gigInfo white center-align">
                                                <p><b>[[${gig.gigTitle}]]</b></p>
                                                <p >[[${gig.gigLocation}]]</p>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div id="appliedGigs" class="col s12">
                                <div class="card-panel orange-gradient center-align">
                                    <h4>Applied Gigs</h4>
                                    <div th:if="${applied.isEmpty()}">
                                        <h5>Find gigs to apply for</h5>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s12 m6" th:each="applied : ${applied}" th:if="${applied.gig.gigHired} != true">
                                        <div  class="gigCard hoverable">
                                            <div class="gigImage" th:style="'background:url('+ @{'https://s3.amazonaws.com/s3-gigfinder/' + ${applied.gig.gigArt}}+'); background-size: cover; background-repeat: no-repeat; background-position: center; height: 200px;'">
                                                <div class="dateBox    center-align">
                                                    <p class="date">[[${#dates.format(applied.gig.gigStart,'d')}]]</p>
                                                    <p class="month">[[${#dates.format(applied.gig.gigStart,'MMMM')}]]</p>
                                                </div>
                                                <a class="goBtn right waves-effect waves-light btn-floating " th:href="'/gig/' + @{${applied.gig.id}}"><i class="material-icons">arrow_forward</i></a>

                                            </div>
                                            <div class="gigInfo white center-align">
                                                <p><b>[[${applied.gig.gigTitle}]]</b></p>
                                                <p >[[${applied.gig.gigLocation}]]</p>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="show-on-medium-and-down hide-on-large-only">
<div class="profile-content">

    <div class="row">
        <div class="col s12">
            <ul class="tabs tabs-fixed-width z-depth-4 ">
                <li class="tab  "><a href="#tab-music"><i class=" material-icons">library_music</i></a></li>
                <li class="tab "><a href="#tab-upEvents"><i class=" material-icons">beenhere</i></a></li>
                <li class="tab  "><a class="active" href="#tab-bio"><i class=" material-icons">account_circle</i></a></li>
                <li class="tab "><a href="#tab-areaGigs"><i class=" material-icons">place</i></a></li>
                <li class="tab "><a href="#tab-appliedGigs"><i class=" material-icons">star</i></a></li>
            </ul>
        </div>
        <div id="tab-bio" class="col s12 container">
            <div class="card-panel">
                <section >
                    <div class="section">
                        <p class="valign-wrapper"><i class="material-icons">star</i> [[${musicianProfile.musicianInstruments}]]</p>

                    </div>

                    <div class="divider"></div>
                    <div class="section">
                        <p class="valign-wrapper"><i class=" material-icons">email</i> [[${musicianProfile.user.email}]] </p>

                    </div>

                    <div class="divider"></div>
                    <div class="section">
                        <p class="center-align"> [[${musicianProfile.bio}]]</p>

                    </div>

                </section>
            </div>
        </div>
        <div id="tab-music" class="col s12 container">
            <div class=" musicCard">

                <div class="card-panel orange-gradient center-align">
                    <h4 >My Music
                        <span>
                <a class="waves-effect waves-light btn-floating modal-trigger tooltipped" data-position="top" data-delay="50" data-tooltip="Add a YouTube video of your music" href="#addMusicContent"><i class="material-icons">add</i></a>
                </span>
                        <div th:if="${media.isEmpty()}">
                            <h5>Add Your Music</h5>
                        </div>
                    </h4>
                </div>
                <table class="bordered highlight white">
                    <tr th:each="media : ${media}">
                        <td>
                            <h5>
                                <a class="valign-wrapper popup-youtube" th:href="@{${media.media_url}}">
                                    <i class="  material-icons">play_circle_filled</i>
                                    [[${media.title}]]
                                </a>
                            </h5>

                        </td>
                        <td class="right">
                            <a class="modal-trigger waves-effect waves-light  btn-flat" th:href="'#mediaUpdate' + ${media.id}">
                                <i class="material-icons  tooltipped" data-position="top" data-delay="50" data-tooltip="Edit Music">edit</i>
                            </a>
                        </td>
                        <td class="right">
                            <form th:action="'/musician/media/delete/' + ${media.id}" method="post">
                                <button class="modal-action  waves-effect waves-light btn-flat" type="submit" >
                                    <i class="material-icons   tooltipped" data-position="top" data-delay="50" data-tooltip="Delete Music">delete</i>
                                </button>
                            </form>
                        </td>
                        <div th:include="fragments/modals :: mediaUpdate"></div>

                    </tr>
                </table>



            </div>
        </div>
        <div id="tab-upEvents" class="col s12">
            <div class="card-panel orange-gradient center-align">
                <h4 >Upcoming Events</h4>
                <div th:if="${hired.isEmpty()}">
                    <h5>No Upcoming Events</h5>
                </div>
            </div>

            <div class="row"  >
                <div class="col s12 m4" th:each="hired : ${hired}">
                    <div  class="gigCard hoverable">
                        <div class="gigImage" th:style="'background:url('+ @{'https://s3.amazonaws.com/s3-gigfinder/' + ${hired.gig.gigArt}}+'); background-size: cover; background-repeat: no-repeat; background-position: center; height: 200px;'">
                            <div class="dateBox    center-align">
                                <p class="date">[[${#dates.format(gig.gigStart,'d')}]]</p>
                                <p class="month">[[${#dates.format(gig.gigStart,'MMMM')}]]</p>
                            </div>
                            <a class="goBtn right waves-effect waves-light  btn-floating " th:href="'/gig/' + @{${hired.gig.id}}"><i class="material-icons">arrow_forward</i></a>

                        </div>
                        <div class="gigInfo white center-align">
                            <p><b>[[${hired.gig.gigTitle}]]</b></p>
                            <p >[[${hired.gig.gigLocation}]]</p>

                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div id="tab-areaGigs" class="col s12">
            <div class="card-panel orange-gradient  center-align">
                <h4 >Gigs in the Area
                    <span>
                    <a class="btn-floating waves-effect waves-light tooltipped" data-position="top" data-delay="50" data-tooltip="Search Gigs" href="/search"><i class="material-icons">search</i></a>
                </span>
                </h4>
                <div th:if="${gig.isEmpty()}">
                    <h5>No Gigs found in your area</h5>
                </div>
            </div>

            <div class="row"  >
                <div class="col s12 m4" th:each="gig : ${gig}" th:if="${gig.gigHired} != true">
                    <div  class="gigCard hoverable">
                        <div class="gigImage" th:style="'background:url('+ @{'https://s3.amazonaws.com/s3-gigfinder/' + ${gig.gigArt}}+'); background-size: cover; background-repeat: no-repeat; background-position: center; height: 200px;'">
                            <div class="dateBox    center-align">
                                <p class="date">[[${#dates.format(gig.gigStart,'d')}]]</p>
                                <p class="month">[[${#dates.format(gig.gigStart,'MMMM')}]]</p>
                            </div>
                            <a class="goBtn right waves-effect waves-light  btn-floating " th:href="'/gig/' + @{${gig.id}}"><i class="material-icons">arrow_forward</i></a>

                        </div>
                        <div class="gigInfo white center-align">
                            <p><b>[[${gig.gigTitle}]]</b></p>
                            <p >[[${gig.gigLocation}]]</p>

                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div id="tab-appliedGigs" class="col s12">
            <div class="card-panel orange-gradient center-align">
                <h4>Applied Gigs</h4>
                <div th:if="${applied.isEmpty()}">
                    <h5>Find gigs to apply for</h5>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m4" th:each="applied : ${applied}" th:if="${applied.gig.gigHired} != true">
                    <div  class="gigCard hoverable">
                        <div class="gigImage" th:style="'background:url('+ @{'https://s3.amazonaws.com/s3-gigfinder/' + ${applied.gig.gigArt}}+'); background-size: cover; background-repeat: no-repeat; background-position: center; height: 200px;'">
                            <div class="dateBox    center-align">
                                <p class="date">[[${#dates.format(applied.gig.gigStart,'d')}]]</p>
                                <p class="month">[[${#dates.format(applied.gig.gigStart,'MMMM')}]]</p>
                            </div>
                            <a  class="goBtn right waves-effect waves-light    btn-floating " th:href="'/gig/' + @{${applied.gig.id}}"><i class="material-icons">arrow_forward</i></a>

                        </div>
                        <div class="gigInfo white center-align">
                            <p><b>[[${applied.gig.gigTitle}]]</b></p>
                            <p >[[${applied.gig.gigLocation}]]</p>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
        </div>

    </main>

    <div th:include="fragments/modals :: coverMusicianPic"></div>
    <div th:include="fragments/modals :: profMusicianPic"></div>
    <div th:include="fragments/modals :: createMedia"></div>

    <div th:include="fragments/footer :: footer"></div>

<span th:include="fragments/includes :: js"></span>

</body>
</html>