<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="fragments/includes :: indexHead"></head>
<body class="grey lighten-1 music-details" th:inline="text">

    <main >
        <section class="indigo darken-4  profileBanner" th:style="'background:url('+ @{'https://s3.amazonaws.com/s3-gigfinder/' + ${musicianDetail.coverPicImage}}+'); background-size: cover; background-repeat: no-repeat; background-position: center;'">
            <div th:include="fragments/navbar :: navHome"></div>

            <div class="show-on-medium-and-down hide-on-large-only">
                <div class="tab-profile white-text">
                    <div class="circle tab-profPic profImage" th:style="'background:url('+ @{'https://s3.amazonaws.com/s3-gigfinder/' + ${musicianDetail.profPicImage}}+'); background-size: cover; background-repeat: no-repeat; background-position: center; width: 200px; height: 200px;'">
                    </div>
                    <h4>[[${musicianDetail.firstName}]] [[${musicianDetail.lastName}]]</h4>
                    <h5 > [[${musicianDetail.location}]]</h5>
                </div>
            </div>


        </section>
        <div class="hide-on-med-and-down">
            <section class="container">
                <div class="row-content">
                    <div class="profile-info">
                        <div class="profCol z-depth-5">
                            <div class="profImage" th:style="'background:url('+ @{'https://s3.amazonaws.com/s3-gigfinder/' + ${musicianDetail.profPicImage}}+'); background-size: cover; background-repeat: no-repeat; background-position: center; height: 400px;'">

                            </div>
                            <div class="profInfo white">
                                <section >
                                    <div class="section">
                                        <h5 class="valign-wrapper"><i class="material-icons">account_circle</i> <b>[[${musicianDetail.firstName}]] [[${musicianDetail.lastName}]]</b></h5>
                                        <p class="valign-wrapper"><i class=" material-icons">location_on</i> [[${musicianDetail.location}]]</p>

                                    </div>
                                    <div class="divider"></div>
                                    <div class="section">
                                        <p class="valign-wrapper"><i class=" material-icons">star</i> [[${musicianDetail.musicianInstruments}]]</p>

                                    </div>

                                    <div class="divider"></div>
                                    <div class="section">
                                        <p class="valign-wrapper"><i class=" material-icons">email</i> [[${musicianDetail.user.email}]] </p>
                                        <p class="valign-wrapper"><i class=" material-icons">local_phone</i> [[${musicianDetail.user.phoneNumber}]]</p>

                                    </div>

                                    <div class="divider"></div>
                                    <div class="section">
                                        <p> [[${musicianDetail.bio}]]</p>

                                    </div>

                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="profile-content">
                        <div class="row">
                            <div class="col s12">
                                <ul class="tabs  z-depth-4">
                                    <li class="tab col s6"><a href="#music">My Music</a></li>

                                    <li class="tab col s6"><a href="#upEvents">Upcoming Events</a></li>
                                </ul>
                            </div>
                            <div id="music" class="col s12">
                                <div class="card-panel orange-gradient center-align">
                                    <h4 >My Music</h4>
                                    <div th:if="${media.isEmpty()}">
                                        <h5 class="no-media">No Music</h5>
                                    </div>
                                </div>



                                    <table class="bordered highlight white">
                                        <tr th:each="media : ${media}">
                                            <td>
                                                <h5>
                                                    <a class="valign-wrapper popup-youtube" th:href="@{${media.media_url}}">
                                                        <i class="orange-text text-accent-4 material-icons">play_circle_filled</i>
                                                        [[${media.title}]]
                                                    </a>
                                                </h5>

                                            </td>
                                        </tr>
                                    </table>


                            </div>
                            <div id="upEvents" class="col s12">
                                <div class="card-panel orange-gradient center-align">
                                    <h4 >Upcoming Events</h4>
                                    <div  th:if="${hired.isEmpty()}">
                                        <h5>No Upcoming Events</h5>
                                    </div>
                                </div>

                                <div class="row"  >
                                    <div class="col s12 m6" th:each="hired : ${hired}">
                                        <div  class="gigCard hoverable">
                                            <div class="gigImage" th:style="'background:url('+ @{'https://s3.amazonaws.com/s3-gigfinder/' + ${hired.gig.gigArt}}+'); background-size: cover; background-repeat: no-repeat; background-position: center; height: 200px;'">
                                                <div class="dateBox    center-align">
                                                    <p class="date">[[${#dates.format(applied.gig.gigStart,'d')}]]</p>
                                                    <p class="month">[[${#dates.format(applied.gig.gigStart,'MMMM')}]]</p>
                                                </div>
                                                <a class="goBtn right waves-effect waves-light btn-floating " th:href="'/gig/' + @{${hired.gig.id}}"><i class="material-icons">arrow_forward</i></a>

                                            </div>
                                            <div class="gigInfo white center-align">
                                                <p><b>[[${hired.gig.gigTitle}]]</b></p>
                                                <p >[[${hired.gig.gigLocation}]]</p>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="show-on-medium-and-down hide-on-large-only">
<div class="profile-content">

    <div class="row">
        <div class="col s12">
            <ul class="tabs tabs-fixed-width z-depth-4 ">
                <li class="tab  "><a href="#tab-music"><i class=" material-icons">library_music</i></a></li>
                <li class="tab  "><a class="active" href="#tab-bio"><i class="material-icons">account_circle</i></a></li>
                <li class="tab "><a href="#tab-upEvents"><i class=" material-icons">beenhere</i></a></li>

            </ul>
        </div>
        <div id="tab-bio" class="col s12 container">
            <div class="card-panel">
                <section >
                    <div class="section">
                        <p class="valign-wrapper"><i class=" material-icons">star</i> [[${musicianDetail.musicianInstruments}]]</p>

                    </div>

                    <div class="divider"></div>
                    <div class="section">
                        <p class="valign-wrapper"><i class=" material-icons">email</i> [[${musicianDetail.user.email}]] </p>
                        <p class="valign-wrapper"><i class=" material-icons">local_phone</i> [[${musicianDetail.user.phoneNumber}]]</p>

                    </div>

                    <div class="divider"></div>
                    <div class="section">
                        <p class="center-align"> [[${musicianDetail.bio}]]</p>

                    </div>

                </section>
            </div>
        </div>
        <div id="tab-music" class="col s12 container">
            <div class="card-panel orange-gradient center-align">
                <h4 >My Music
                    <div th:if="${media.isEmpty()}">
                        <h5>No Music</h5>
                    </div>
                </h4>
            </div>


            <table class="bordered highlight white">
                <tr th:each="media : ${media}">
                    <td>
                        <h5>
                            <a class="valign-wrapper popup-youtube" th:href="@{${media.media_url}}">
                                <i class="material-icons">play_circle_filled</i>
                                [[${media.title}]]
                            </a>
                        </h5>

                    </td>
                </tr>
            </table>

        </div>
        <div id="tab-upEvents" class="col s12">
            <div class="center-align orange-gradient card-panel">
                <h4 >Upcoming Events</h4>
                <div th:if="${hired.isEmpty()}">
                    <h5 class="center-align">No Upcoming Events</h5>
                </div>
            </div>

            <div class="row"  >
                <div class="col s12 m4" th:each="hired : ${hired}">
                    <div  class="gigCard hoverable">
                        <div class="gigImage" th:style="'background:url('+ @{'https://s3.amazonaws.com/s3-gigfinder/' + ${hired.gig.gigArt}}+'); background-size: cover; background-repeat: no-repeat; background-position: center; height: 150px;'">
                            <div class="dateBox    center-align">
                                <p class="date">[[${#dates.format(applied.gig.gigStart,'d')}]]</p>
                                <p class="month">[[${#dates.format(applied.gig.gigStart,'MMMM')}]]</p>
                            </div>
                            <a class="goBtn right waves-effect waves-light btn-floating " th:href="'/gig/' + @{${hired.gig.id}}"><i class="material-icons">arrow_forward</i></a>

                        </div>
                        <div class="gigInfo white center-align">
                            <p><b>[[${hired.gig.gigTitle}]]</b></p>
                            <p >[[${hired.gig.gigLocation}]]</p>

                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>
        </div>

    </main>


    <div th:include="fragments/footer :: footer"></div>


<span th:include="fragments/includes :: js"></span>
</body>
</html>