<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="includes :: indexHead"></head>
<body>
<div th:include="navbar :: navHome"></div>
<section class="profile">
    <nav>
        <a class="btn-floating" href="/musician/search/"><i class=" text-accent-4 material-icons">search</i></a>
    </nav>
    <h1 class="name" th:text="${musicianProfile.firstName} +' '+ ${musicianProfile.lastName}"></h1>
</section>
<main th:inline="text" class="musicianProfile">
    <div class="row">
        <div class="col s3">
            <p><i class="orange-text text-accent-4 material-icons">account_circle</i> [[${user.username}]]</p>
            <p><i class="orange-text text-accent-4 material-icons">email</i> [[${musicianProfile.musicianEmail}]] </p>
            <p><i class="orange-text text-accent-4 material-icons">local_phone</i> [[${musicianProfile.musicianPhoneNumber}]]</p>
            <p><i class="orange-text text-accent-4 material-icons">cake</i> [[${musicianProfile.birthDate}]]</p>
            <p><i class="orange-text text-accent-4 material-icons">location_on</i> [[${musicianProfile.location}]]</p>
            <p><i class="orange-text text-accent-4 material-icons">star</i> [[${musicianProfile.musicianInstruments}]]</p>
            <p><i class="orange-text text-accent-4 material-icons">bookmark</i> [[${musicianProfile.bio}]]</p>

        </div>
        <div class="col s6">
            <form th:action="@{/musician/add-media}" method="post" th:object="${mediaContent}">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" id="title" th:field="*{title}" placeholder="Title of music"/>
                        <label for="title">Title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="url" type="text" th:field="*{media_url}" placeholder="Youtube URL of your music"/>
                        <label for="url">Add Music</label>
                    </div>
                </div>
                <button class="btn orange accent-4" type="submit">Add Media</button>
            </form>
            <div th:each="media : ${media}">
                <div class="row">
                    <i class="orange-text text-accent-4 material-icons">music_note</i>
                    <a  th:href="@{${media.media_url}}" target="_blank"  th:text="${media.title}"></a>
                    <a class="waves-effect waves-light modal-trigger" href="#mediaUpdate">
                        <i class="orange-text text-accent-4 material-icons">edit</i>
                    </a>
                    <a class="waves-effect waves-light modal-trigger" href="#mediaDelete">
                        <i class="orange-text text-accent-4 material-icons">delete</i>
                    </a>
                    <div th:include="modals :: mediaUpdate"></div>
                    <div th:include="modals :: mediaDelete"></div>
                </div>
                <h5>

                </h5>

                <div class="divider"></div>
            </div>
        </div>
        <div class="col s3">
            <h5>Gigs in the Area</h5>

            <div class="card" th:each="gig : ${gig}">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s4">
                                <img class="localGigs" th:src="${gig.gigArt}" alt=""/>
                            </div>
                            <div class="col s8">
                                <p th:text="'When: '+${gig.gigStart}"></p>
                                <p th:text="'Type: '+${gig.gigType}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a class="btn" th:href="'/musician/gig/' + @{${gig.id}}">More Info</a>

                    </div>
            </div>

        </div>
    </div>

</main>
<div th:include="footer :: footer"></div>
<div th:include="modals :: musicianUpdate"></div>

<span th:include="includes :: js"></span>

</body>
</html>