<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="includes :: indexHead"></head>
<body th:inline="text" class="blue-grey lighten-5">
<div th:include="navbar :: navHome"></div>

<div sec:authorize="hasRole('ROLE_MUSICIAN')" class="container gigSearch">
    <h1 class="center-align">Search for Gigs</h1>

    <form th:action="@{/searchGigLocation}" method="post" class="white">

        <div class="section row">
            <div class="input-field col s10">
                <i class="orange-text text-accent-4 material-icons prefix">location_on</i>
                <input type="text" placeholder="Search by Location" name="location" id="giglocation"/>
                <label for="giglocation">Location</label>
            </div>
            <div class="col s2">
                <button class="btn orange accent-4" type="submit">Search</button>

            </div>
        </div>
    </form>
    <form th:action="@{/searchGigType}" method="post" class="white">
        <div class="section row">
            <div class="input-field col s10">
                <i class="orange-text text-accent-4 material-icons prefix">event_note</i>

                <select name="type" id="type">
                    <option value="" disabled="disabled" selected="selected">Search by Gig Type</option>

                    <option th:each="gigType : ${gigTypes}" th:value="${gigType.type}">[[${gigType.type}]]</option>
                </select>
                <label for="type">Type of Gigs</label>
            </div>
            <div class="col s2">
                <button class="btn orange accent-4" type="submit">Search</button>

            </div>
        </div>
    </form>
</div>

<div sec:authorize="hasRole('ROLE_COMPANY')" class="container companySearch">
    <h1 class="center-align">Search for Musicians</h1>

    <form th:action="@{/searchName}" method="post" class="white">
        <div class=" section row">
            <div class="input-field col s5">
                <i class="orange-text text-accent-4 material-icons prefix">account_circle</i>

                <input placeholder="Search First Name" id="first_name" type="text" name="firstName" class="validate"/>
                <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s5">
                <input placeholder="Search Last Name" id="last_name" type="text" name="lastName" class="validate"/>
                <label for="last_name">Last Name</label>
            </div>
            <div class="col s2">
                <button class="btn orange accent-4 " type="submit">Search</button>

            </div>

        </div>
    </form>
    <form th:action="@{/searchUsername}" method="post" class="white">
        <div class="section row">
            <div class="input-field col s10 ">
                <i class="orange-text text-accent-4 material-icons prefix">account_box</i>

                <input type="text" placeholder="Search by Username" name="musicianUsername" id="username"/>
                <label for="username">Username</label>
            </div>
            <div class="col s2 ">
                <button class="btn orange accent-4" type="submit">Search</button>

            </div>
        </div>
    </form>
    <form th:action="@{/searchInstrument}" method="post" class="white">
        <div class="section row">
            <div class="input-field col s10">
                <i class="orange-text text-accent-4 material-icons prefix">star</i>

                <select multiple="multiple" name="instrument">
                    <option value="" disabled="disabled" selected="selected">Search by Musical Instruments</option>
                    <option th:inline="text" th:each="instrument : ${instruments}" th:value="${instrument.name}">[[${instrument.name}]]</option>
                </select>
            </div>
            <div class="col s2">
                <button class="btn orange accent-4" type="submit">Search</button>

            </div>
        </div>
    </form>
    <form th:action="@{/searchLocation}" method="post" class="white">
        <div class="section row">
            <div class="input-field col s10">
                <i class="orange-text text-accent-4 material-icons prefix">location_on</i>

                <input type="text" placeholder="Search by Location" name="location" id="location"/>
                <label for="location">Location</label>
            </div>
            <div class="col s2">
                <button class="btn orange accent-4" type="submit">Search</button>

            </div>
        </div>
    </form>
</div>
<div class="divider"></div>
<section class="searchResult container">
    <h1>Search Results</h1>
    <div sec:authorize="hasRole('ROLE_COMPANY')">
        <div class="row">
            <div  th:each="musician : ${musician}">
                <div class="col s12 m6">
                    <div class="musicianCards ">
                        <a th:href="'/company/find-bands/' + @{${musician.id}}" >

                            <div class="  white hoverable z-depth-2">

                                <div class="valign-wrapper">
                                    <div class="left ">
                                        <img th:src="@{${musician.profPicImage}} " class="cardImage circle"/>
                                    </div>

                                    <div class="musicianInfo black-text">
                                        <p ><b>[[${musician.firstName}]] [[${musician.lastName}]]</b></p>
                                        <p>[[${musician.musicianInstruments}]]</p>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div sec:authorize="hasRole('ROLE_MUSICIAN')">
        <div class="row">
            <div th:each="gig : ${gig}" class="col s6">
                <div class="col s12 m6">

                    <div class="gigCard z-depth-2">
                        <div class="gigImage" th:style="'background:url('+ @{${gig.gigArt}}+'); background-size: cover; background-repeat: no-repeat; background-position: center;'">
                            <div class="dateBox white orange-text text-accent-4 center-align">
                                <h4>[[${#dates.format(gig.gigStart,'d')}]]</h4>
                                <p>[[${#dates.format(gig.gigStart,'MMMM')}]]</p>
                            </div>
                        </div>
                        <div class="gigInfo white center-align">
                            <p><b>[[${gig.gigTitle}]]</b></p>
                            <p >[[${gig.gigLocation}]]</p>
                            <div class="divider"></div>
                            <a class=" waves-effect waves-light orange-text text-accent-4 hoverable gigApplied " th:href="'/musician/gig/' + @{${gig.id}}">Details</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<div th:include="footer :: footer"></div>
<span th:include="includes :: js"></span>
</body>
</html>