<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="includes :: indexHead"></head>
<body>
<div class="container">
    <h1 class="red-text">SIGNUP</h1>
    <div style="color: red;" th:text="${error}"></div>

    <form th:action="@{/signup}" th:object="${user}" method="post">
        <input type="text" th:field="*{username}" placeholder="Username"/>
        <input type="password" th:field="*{password}" placeholder="Password"/>
        <input type="email" th:field="*{user_email}" placeholder="Email"/>
        <input type="text" th:field="*{user_phonenumber}" placeholder="Phone Number"/>
        <select class="mdb-select" th:field="*{role}" id="">
            <option value="company">Company</option>
            <option value="band">Band</option>
            <option value="musician">Musican</option>
            <option value="user">User</option>
        </select>
        <button class="waves-effect waves-light btn" type="submit" >Signup</button>
    </form>
</div>
<span th:include="includes :: js"></span>
</body>
</html>