<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="fragments/includes :: indexHead"></head>
<body th:inline="text" class="signCompany gradient-background">
<div th:include="fragments/navbar :: navHome"></div>
<main class="compSignup">
    <div class="background-image hide-on-med-and-down"></div>

    <div class="card-panel container">
        <div class="row">
            <div class="col s12 m6  center-align ">
                <div class="logo-side">
                    <h1 class="login-logo"> <a href="/" >gigFinder</a></h1>
                    <h5 class="white-text"> Profile Update</h5>

                </div>

            </div>
            <div class="col s12 m6 white compForm">

                <div sec:authorize="hasRole('ROLE_COMPANY')">
                    <form th:action="'/company/update-profile/'"  method="post" enctype="multipart/form-data">

                        <div th:object="${user}">
                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <label for="emailComp"> Email</label>
                                    <input id="emailComp" type="email" th:field="*{email}" th:value="${email}"/>

                                </div>
                                <div class="input-field col s12 m6">
                                    <label for="pNumberComp">Contact Phone Number</label>
                                    <input id="pNumberComp" type="text" th:field="*{phoneNumber}" th:value="${phoneNumber}"/>

                                </div>
                            </div>
                        </div>

                        <div th:object="${companyProfile}">
                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="nameComp">Company Name</label>
                                    <input id="nameComp" type="text" th:field="*{companyName}" th:value="${companyName}"/>

                                </div>

                            </div>
                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <label for="firstNameComp">Contact First Name</label>
                                    <input id="firstNameComp" type="text" th:field="*{companyContactFirstName}" th:value="${companyContactFirstName}"/>

                                </div>
                                <div class="input-field col s12 m6">
                                    <label for="lastNameComp">Contact Last Name</label>
                                    <input id="lastNameComp" type="text" th:field="*{companyContactLastName}" th:value="${companyContactLastName}"/>

                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="cityComp" type="text" th:field="*{companyCity}" class="validate" th:value="${companyCity}"/>
                                    <label for="cityComp">City</label>

                                </div>
                                <div class="input-field col s6 m6">
                                    <select th:field="*{companyState}" id="state" class="validate" th:value="${companyState}">
                                        <option value="" disabled="disabled" selected="selected">State</option>
                                        <option th:each="states : ${states}" th:value="${states.abbreviation}">[[${states.name}]] - [[${states.abbreviation}]]</option>
                                    </select>

                                </div>
                            </div>

                        </div>
                        <button class="waves-effect waves-light btn" type="submit" >Update Profile</button>
                    </form>
                </div>
                <div sec:authorize="hasRole('ROLE_MUSICIAN')">
                    <form th:action="'/musician/update-profile/'"  method="post">
                        <div th:object="${user}">
                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <label for="email"> Email</label>
                                    <input id="email" type="email" th:field="*{email}" th:value="${email}"/>

                                </div>

                                <div class="input-field col s12 m6">
                                    <label for="pNumber">Contact Phone Number</label>
                                    <input id="pNumber" type="text" th:field="*{phoneNumber}" th:value="${phoneNumber}"/>

                                </div>
                            </div>
                        </div>
                        <div th:object="${musicianProfile}">
                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <label for="firstName">First Name</label>
                                    <input id="firstName" type="text" th:field="*{firstName}"/>


                                </div>
                                <div class="input-field col s12 m6">
                                    <label for="lastName">Last Name</label>
                                    <input id="lastName" type="text" th:field="*{lastName}"/>

                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6 m6">
                                    <input id="city" type="text" th:field="*{musicianCity}" class="validate"/>
                                    <label for="city">City</label>

                                </div>
                                <div class="input-field col s6 m6">
                                    <select th:field="*{musicianState}" id="state" class="validate">
                                        <option value="" disabled="disabled" selected="selected">State</option>
                                        <option th:each="states : ${states}" th:value="${states.abbreviation}">[[${states.name}]] - [[${states.abbreviation}]]</option>
                                    </select>
                                </div>
                            </div>

                            <div class="input-field col s12 m12">
                                <select multiple="multiple" th:field="*{musicianInstruments}">
                                    <option value="" disabled="disabled" selected="selected">Choose Musical Instruments</option>
                                    <option th:each="instrument : ${instruments}" th:value="${instrument.name}">[[${instrument.name}]]</option>
                                </select>
                            </div>

                            <div class="row">
                                <div class="input-field col s12 m12">
                                    <label for="bio">Bio</label>
                                    <input id="bio" type="text" th:field="*{bio}" class="validate"/>
                                </div>
                            </div>
                        </div>

                            <button class="waves-effect waves-light btn" type="submit" >Update Profile</button>

                    </form>

                </div>

            </div>
        </div>

    </div>
</main>
<div th:include="fragments/footer :: footer"></div>

<span th:include="fragments/includes :: js"></span>
</body>
</html>